// slightly lighten a colour
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// slightly darken a colour
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

// text colours

$color-text:                  #333333;
$color-text-footnote:         #777777;
$color-text-inverse:          #ffffff;
$color-text-print:            #000000; // solid black prints faster/cleaner

// page colours

$color-background:            #ffffff;
$color-background-box:        #f7f7f7;

// interaction colours

$color-link:                  #004cbf;
$color-link-hover:            #0066ff;
$color-link-focus:            tint($color-link-hover, 50%);
$color-link-visited:          shade($color-link, 33%);
$color-selecting:             tint($color-link-hover, 80%);
$color-selected:              tint($color-link-hover, 90%);

// default gradients

$color-gradient-from:         #eeeeee;
$color-gradient-to:           darken($color-gradient-from, 6.5%);
$color-gradient-border:       darken($color-gradient-from, 13.5%);

// borders

$color-border:                #cccccc;

// accent colours

$color-accent-gradient-from:  #ffda44;
$color-accent-gradient-to:    darken($color-accent-gradient-from, 15%);
$color-highlight-box:         tint($color-accent-gradient-from, 84%);
$color-strong-highlight-box:  tint($color-accent-gradient-from, 36%);

// alert colours

$color-success-text:          #238c23;
$color-success-background:    #dff0d8;
$color-success-border:        darken($color-success-background, 20%);
$color-warning-text:          #cc8c00;
$color-warning-background:    #f7eedb;
$color-warning-border:        darken($color-warning-background, 20%);
$color-error-text:            #9d261d;
$color-error-background:      #f2dede;
$color-error-border:          darken($color-error-background, 12%);
$color-info-text:             #3a87ad;
$color-info-background:       #e7f6fc;
$color-info-border:           darken($color-info-background, 12%);
