// font families

$font-serif:          "PT Serif", Georgia, serif;
$font-sans-serif:     Helvetica, Arial, sans-serif;
$font-form:           Helvetica, Arial, sans-serif;
$font-code:           Menlo, Consolas, Monaco, monospace;
$font-print:          "Helvetica Neue", sans-serif;

// typography grid

$base-font-size:      16px;
$base-line-height:    1.5em;
$code-font-size:      0.875em; // 14px / 16px
$small-font-size:     0.75em; // 12px / 16px

// layout grid

$container-max-width: 72em; // 1152px / 16px
$breakpoint-3:        48.5em; // 776px / 16px
$breakpoint-2:        44.5em; // 712px / 16px
$breakpoint-1:        24em; // 384px / 16px

// borders

$border-radius:       0.5em; // 8px / 16px

// shadows

$standard-shadow:     0 0 0.5em rgba(0, 0, 0, 0.2) !default;
$inset-highlighting:  inset 0 1px 0 rgba(#ffffff, 0.25) !default;
$inset-lowlighting:   inset 0 0.2em 0.25em rgba(#000000, 0.15) !default;
$text-shadow-light:   1px 1px 0 rgba(#ffffff, 0.5) !default;
$text-shadow-dark:    -1px -1px 0 rgba(#000000, 0.1) !default;
