// font families

$font-serif:           "PT Serif", Georgia, serif !default;
$font-sans-serif:      system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-form:            system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-code:            Menlo, Consolas, Monaco, monospace !default;
$font-print:           "Helvetica Neue", sans-serif !default;

// typography grid

$base-font-size:       16px !default;
$line-height-desktop:  1.5 !default;
$line-height-mobile:   1.375 !default;
$code-font-size:       0.875rem !default; // 14px / 16px
$small-font-size:      0.75rem !default; // 12px / 16px

// layout grid

$container-max-width:  72em !default; // 1152px / 16px
$breakpoint-3:         60em !default; // 960px / 16px
$breakpoint-2:         48em !default; // 768px / 16px
$breakpoint-1:         30em !default; // 480px / 16px

// borders

$border-radius:        0.5em !default; // 8px / 16px

// shadows

$standard-shadow:      0 0 0.5em rgba(0, 0, 0, 0.2) !default;

$dark-standard-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75) !default;
