// import all Compass core mixins
@import "compass";

// import Singularity Grid System (includes Breakpoint module)
@import "singularitygs";


// SVG images with fallback for older browsers (via Modernizr)
        
@mixin svg-graphic($imgfilename, $imgtype, $imgwidth, $imgheight) {
    .no-svg &,
    .no-js & {
        background-image: url('../img/' + $imgfilename + '.' + $imgtype);
    }
    .svg & {
        background-image: url('../img/' + $imgfilename + '.svg');
        -webkit-background-size: $imgwidth $imgheight;
           -moz-background-size: $imgwidth $imgheight;
             -o-background-size: $imgwidth $imgheight;
                background-size: $imgwidth $imgheight;
    }
}

// higher resolution images for high resolution displays
        
@mixin hires-graphic($hdfile, $hdtype, $hdwidth, $hdheight) {
    $filename: $hdfile + '.' + $hdtype;
    $hdfilename: $hdfile + '@2x.' + $hdtype;
    background-image: url('../img/' + $filename);
    @media print,
        (-webkit-min-device-pixel-ratio: 2),
        (min--moz-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 2/1),
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../img/' + $hdfilename) !important;
        -webkit-background-size: $hdwidth $hdheight;
                background-size: $hdwidth $hdheight;
    }
}

// standard gradients

@mixin gradient-linear($color-gradient-from, $color-gradient-to) {
    background-color: $color-gradient-to;
    @include background-image(linear-gradient($color-gradient-from, $color-gradient-to));
}
@mixin gradient-radial($color-gradient-from, $color-gradient-to) {
    background-color: $color-gradient-to;
    @include background-image(radial-gradient($color-gradient-from, $color-gradient-to));
}
