// import all Compass core mixins
@import "compass";

// import Breakpoint
@import "breakpoint";

// import Singularity.gs
@import "singularitygs";

// import Toolkit
@import "toolkit";


// higher resolution images for high resolution displays

@mixin hires-graphic($hdfile, $hdtype, $hdwidth, $hdheight) {
    $filename: $hdfile + "." + $hdtype;
    $hdfilename: $hdfile + "@2x." + $hdtype;
    background-image: url("../img/" + $filename);
    background-size: $hdwidth $hdheight;
    @media print,
        (-webkit-min-device-pixel-ratio: 2),
        (min--moz-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 2/1),
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../img/" + $hdfilename) !important;
    }
}

// standard gradients

@mixin gradient-linear($color-gradient-from, $color-gradient-to) {
    background-color: $color-gradient-to;
    @include background-image(linear-gradient($color-gradient-from, $color-gradient-to));
}
@mixin gradient-radial($color-gradient-from, $color-gradient-to) {
    background-color: $color-gradient-to;
    @include background-image(radial-gradient($color-gradient-from, $color-gradient-to));
}

// touch actions

@mixin touch-action {
    -ms-touch-action: none;
        touch-action: none;
}
