// set Compass minimum browser support and caniuse thresholds

$graceful-usage-threshold:     1;
$critical-usage-threshold:     0.1;
$supported-browsers:           ("chrome", "firefox", "ie", "safari");
$browser-minimum-versions:     ("chrome": "30", "firefox": "24", "ie": "8", "safari": "5");
$debug-browser-support:        true;

// use the Kellum method for hiding text
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/

$hide-text-direction:         right;

// font families

$font-serif:                  "PT Serif", Georgia, serif;
$font-sans-serif:             Helvetica, Arial, sans-serif;
$font-mono:                   Menlo, Consolas, Monaco, monospace;
$font-print:                  "Helvetica Neue", sans-serif;

// typography grid

$base-font-size:              13px;
$base-line-height:            20px;

// layout grid

$grid-gutter:                 2em;          // 26px / 13px
$container-max-width:         78.7692308em; // 1024px / 13px

// breakpoints

$breakpoint-3:                64em;         // 832px / 13px
$breakpoint-2:                46.6153846em; // 606px / 13px
$breakpoint-1:                30em;         // 390px / 13px

// page colours

$color-background:            #ffffff;
$color-background-box:        #f7f7f7;

// text colours

$color-text:                  #333333;
$color-text-footnote:         #888888;
$color-text-inverse:          #ffffff;

// interaction colours

$color-link:                  #114eb1;
$color-link-hover:            #0066ff;
$color-link-focus:            #5b9dd9;
$color-link-visited:          #183082;
$color-selecting:             lighten($color-link, 50%);
$color-selected:              lighten($color-link, 56%);

// default gradients

$color-gradient-from:         #eeeeee;
$color-gradient-to:           darken($color-gradient-from, 6.5%);
$color-gradient-border:       darken($color-gradient-from, 13.5%);

// borders

$color-border:                #cccccc;
$default-border-radius:       0.5384615em; // 7px / 13px

// shadows

$default-box-shadow-color:    rgba(#000000, 0.2);
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur:     2px;
$inset-highlighting:          inset 0 1px 0 rgba(#ffffff, 0.25);
$text-shadow-light:           1px 1px 0 rgba(#ffffff, 0.5);
$text-shadow-dark:            -1px -1px 0 rgba(#000000, 0.1);

// accent colours

$color-highlight-box:         #fff9e1;
$color-strong-highlight-box:  #fde699;
$color-accent-gradient-from:  #ffda44;
$color-accent-gradient-to:    darken($color-accent-gradient-from, 15%);

// alert colours

$color-success-text:          #238c23;
$color-success-background:    #dff0d8;
$color-success-border:        darken($color-success-background, 20%);
$color-warning-text:          #cb8f02;
$color-warning-background:    #fff6d3;
$color-warning-border:        darken($color-warning-background, 20%);
$color-error-text:            #9d261d;
$color-error-background:      #f2dede;
$color-error-border:          darken($color-error-background, 12%);
$color-info-text:             #3a87ad;
$color-info-background:       #e7f6fc;
$color-info-border:           darken($color-info-background, 12%);
