@use "../setup";

/* Alert messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="success">
 * <span class="error">
 * <strong class="success">
 * <strong class="error">
 */

.success {
    color: var(--color-success-text);
}

.warning {
    color: var(--color-warning-text);
}

.error {
    color: var(--color-error-text);
}

.information {
    color: var(--color-info-text);
}

/**
 * Highlighted background.
 *
 * Example HTML:
 *
 * <table>
 *     <tr>
 *         <td class="highlighted></td>
 *         <td></td>
 *     </tr>
 * </table>
 */

.highlighted {
    background: var(--color-highlight-box);
}

/**
 * Alert boxes.
 *
 * 1. Prevent really, really long words from breaking layout.
 *
 * Example HTML:
 *
 * <p class="alert-block success">
 * <p class="alert-block error">
 */

.alert-block {
    padding: 0.5em 1em;
    border: 1px solid;
    border-radius: setup.$border-radius / 2;
    word-wrap: break-word; /* 1 */

    &.success {
        border-color: var(--color-success-border);
        background: var(--color-success-background);
    }

    &.warning {
        border-color: var(--color-warning-border);
        background: var(--color-warning-background);
    }

    &.error {
        border-color: var(--color-error-border);
        background: var(--color-error-background);
    }

    &.information {
        border-color: var(--color-info-border);
        background: var(--color-info-background);
    }
}

/**
 * Alert pills.
 *
 * Example HTML:
 *
 * <small class="alert-block alert-pill warning">
 */

.alert-pill {
    display: inline-block;
    padding: 0.125em 0.33em;
    font-weight: normal;
}
