/* Alert messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="success">
 * <span class="error">
 * <strong class="success">
 * <strong class="error">
 */

.success,
.warning,
.error,
.information {
    border-radius: 0.2307692em; // 3px / 13px
    padding: 1px 0.2307692em; // 3px / 13px
}

.success {
    color: $color-success-text;
    background: $color-success-background;
}

.warning {
    color: $color-warning-text;
    background: $color-warning-background;
}

.error {
    color: $color-error-text;
    background: $color-error-background;
}

.information {
    color: $color-info-text;
    background: $color-info-background;
}

/**
 * Highlight background.
 *
 * Example HTML:
 *
 * <table>
 *     <tr>
 *         <td class="highlight></td>
 *         <td></td>
 *     </tr>
 * </table>
 */

.highlight {
    background: $color-highlight-box;
}

/**
 * Alert boxes.
 *
 * 1. Prevent really, really long words from breaking layout.
 *
 * Example HTML:
 *
 * <p class="alert-block success">
 * <p class="alert-block error">
 */

.alert-block {
    border: 1px solid;
    padding: 0.5384615em 1em; // 7px / 13px
    word-wrap: break-word; /* 1 */

    &.success {
        border-color: $color-success-border;
    }

    &.warning {
        border-color: $color-warning-border;
    }

    &.error {
        border-color: $color-error-border;
    }

    &.information {
        border-color: $color-info-border;
    }
}
