/* Alert messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="success">
 * <span class="error">
 * <strong class="success">
 * <strong class="error">
 */

.success {
    color: $color-success-text;
}

.warning {
    color: $color-warning-text;
}

.error {
    color: $color-error-text;
}

.information {
    color: $color-info-text;
}

@media (prefers-color-scheme: dark) {
    .success {
        color: $dark-color-success-text;
    }

    .warning {
        color: $dark-color-warning-text;
    }

    .error {
        color: $dark-color-error-text;
    }

    .information {
        color: $dark-color-info-text;
    }
}

/**
 * Highlighted background.
 *
 * Example HTML:
 *
 * <table>
 *     <tr>
 *         <td class="highlighted></td>
 *         <td></td>
 *     </tr>
 * </table>
 */

.highlighted {
    background: $color-highlight-box;
}

@media (prefers-color-scheme: dark) {
    .highlighted {
        background: $dark-color-highlight-box;
    }
}

/**
 * Alert boxes.
 *
 * 1. Prevent really, really long words from breaking layout.
 *
 * Example HTML:
 *
 * <p class="alert-block success">
 * <p class="alert-block error">
 */

.alert-block {
    padding: 0.5em 1em;
    border: 1px solid;
    border-radius: $border-radius / 2;
    word-wrap: break-word; /* 1 */

    &.success {
        border-color: $color-success-border;
        background: $color-success-background;
    }

    &.warning {
        border-color: $color-warning-border;
        background: $color-warning-background;
    }

    &.error {
        border-color: $color-error-border;
        background: $color-error-background;
    }

    &.information {
        border-color: $color-info-border;
        background: $color-info-background;
    }
}

@media (prefers-color-scheme: dark) {
    .alert-block {
        &.success {
            border-color: $dark-color-success-border;
            background: $dark-color-success-background;
        }

        &.warning {
            border-color: $dark-color-warning-border;
            background: $dark-color-warning-background;
        }

        &.error {
            border-color: $dark-color-error-border;
            background: $dark-color-error-background;
        }

        &.information {
            border-color: $dark-color-info-border;
            background: $dark-color-info-background;
        }
    }
}
