/* Reset
   ========================================================================== */

/**
 * Remove tap delay in modern browsers.
 */

a,
input,
button {
    touch-action: manipulation;
}


/* Clearfix
   ========================================================================== */

header,
footer,
nav ul,
nav ol,
.clearfix {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

/**
 * Basic float clearer.
 */

.clear {
    clear: both;
}
