/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in various browsers.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

summary {
    display: list-item;
}

/**
 * Add the correct display in IE 11.
 */

canvas {
    display: inline-block;
}

template {
    display: none;
}

/**
 * Remove tap delay in modern browsers.
 */

a,
input,
button {
    touch-action: none;
}


/* Clearfix
   ========================================================================== */

/**
 * Clearfix using the 'A new micro clearfix hack' method.
 *
 * More info: http://nicolasgallagher.com/micro-clearfix-hack/
 */

header,
footer,
nav ul,
nav ol,
.clearfix,
.paginator {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

/**
 * Basic float clearer.
 */

.clear {
    clear: both;
}
