/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in older browsers.
 * Correct `block` display not defined for `details` or `summary` in IE 11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Hide the `template` element in IE 11 and Safari.
 */

template {
    display: none;
}

/**
 * Remove tap delay in modern browsers.
 */

a,
input,
button {
    touch-action: none;
}


/* Clearfix
   ========================================================================== */

/**
 * Clearfix using the 'A new micro clearfix hack' method.
 *
 * More info: http://nicolasgallagher.com/micro-clearfix-hack/
 */

header,
footer,
nav ul,
nav ol,
.clearfix,
.container,
.nested-list-2-column,
.nested-list-3-column,
.nested-list-4-column,
.paginator {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}
