/* Reset
   ========================================================================== */

/**
 * Add the correct display in Edge, IE 11, and Firefox.
 */

details,
main {
    display: block;
}

/**
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/**
 * Add the correct display in IE 11.
 */

canvas {
    display: inline-block;
}

template {
    display: none;
}

/**
 * Remove tap delay in modern browsers.
 */

a,
input,
button {
    touch-action: none;
}


/* Clearfix
   ========================================================================== */

header,
footer,
nav ul,
nav ol,
.clearfix {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

/**
 * Basic float clearer.
 */

.clear {
    clear: both;
}
