@use "../setup";

/* Blog section specific
   ========================================================================== */

/**
 * Date styling.
 *
 * Example HTML:
 *
 * <p class="article-date">
 *     <time>21 January 2016</time>
 * </p>
 */

.article-date {
    font-family: var(--font-serif);
    font-size: 1.5rem; // 24px / 16px
}

/**
 * Article footer styling.
 *
 * Example HTML:
 *
 * <footer class="article-footer">
 *     <span class="ui-icon ui-icon-pencil">By:</span>
 *     <span class="vcard">
 *         <a class="url">
 *             <span class="fn n">Phil Wareham</span>
 *         </a>
 *     </span>
 *     <span class="separator">|</span>
 *     <span class="ui-icon ui-icon-tag">Tags:</span>
 *     <span>
 *         <a>Releases</a>
 *         <a>Hope for the future</a>
 *     </span>
 *     <span class="separator">|</span>
 *     <span class="ui-icon ui-icon-comment">Comments:</span>
 *     <a>
 *         <span>3</span>
 *     </a>
 * </footer>
 */

.article-footer {
    margin: 2em 0 2.5em;
}

.article-footer,
.card-postinfo {
    font-size: setup.$small-font-size;

    a,
    .article-author,
    .compatibility {
        display: inline-block;
        margin-top: 0.5em;
        padding: 0.1666667em 0.6666667em; // 2px / 12px + 8px / 12px
        border: 1px solid var(--clr-text);
        border-radius: 1em;
        background: var(--clr-text);
        color: var(--clr-text-white-enforced);
    }

    a:hover,
    a:active {
        border-color: var(--clr-btn-primary-brdr-interact);
        background-color: var(--clr-hilite-enforced);
        color: var(--clr-text-btn);
        text-decoration: none;
    }

    a:active {
        filter: brightness(0.95);
    }

    a:focus {
        border-color: var(--clr-focus);
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
        background-color: var(--clr-hilite-enforced);
    }

    // Put a bit more margin on 2nd category link, if it exists (for better touch accessibility).

    a + a {
        margin-left: 0.25em;
    }
}

@include setup.dark-mode {
    .article-footer,
    .card-postinfo {
        a,
        .article-author,
        .compatibility {
            border-color: var(--clr-bkgd-form);
            background: var(--clr-bkgd-form);
        }

        a:hover,
        a:active {
            border-color: var(--clr-btn-primary-brdr-interact);
            background-color: var(--clr-hilite-enforced);
        }

        a:focus {
            border-color: var(--clr-focus);
            background-color: var(--clr-hilite-enforced);
        }
    }
}
