/* Blog section specific
   ========================================================================== */

/**
 * Date styling.
 *
 * Example HTML:
 *
 * <p class="article-date">
 *     <time>
 *         <b class="time-day">05</b>
 *         <b class="time-month">Sep</b>
 *         <span class="time-year">2014</span>
 *     </time>
 * </p>
 */

.article-date {
    //position: absolute;
    //top: 0;
    //left: 0;
    //z-index: 2;
    //margin: 0;

    time {
        display: block;
        width: 3.25em;
        border: 2px solid $color-text;
        border-bottom: 0;
        background-color: $color-background;
        text-align: center;
    }

    time * {
        display: block;
    }

    .time-day {
        padding-top: 0.1em; // 3px / 30px
        font-family: $font-serif;
        font-size: 2em; // 32px / 16px
        line-height: 1;
    }

    .time-month {
        font-size: 1.5em; // 24px / 16px
        line-height: 1;
    }

    .time-year {
        background-color: $color-text;
        color: $color-background;
    }
}

/**
 * Article footer styling.
 *
 * Example HTML:
 *
 * <footer class="article-footer">
 *     <span class="ui-icon ui-icon-pencil">By:</span>
 *     <span class="vcard">
 *         <a class="url">
 *             <span class="fn n">Phil Wareham</span>
 *         </a>
 *     </span>
 *     <span class="separator">|</span>
 *     <span class="ui-icon ui-icon-tag">Tags:</span>
 *     <span>
 *         <a>Releases</a>
 *         <a>Hope for the future</a>
 *     </span>
 *     <span class="separator">|</span>
 *     <span class="ui-icon ui-icon-comment">Comments:</span>
 *     <a>
 *         <span>3</span>
 *     </a>
 * </footer>
 */

.article-footer {
    font-size: $small-font-size;

    a {
        display: inline-block;
        margin-top: 1em;
        padding: 0.25em 0.75em; // 3px / 12px + 9px / 12px
        border-radius: 1em;
        background: $color-text;
        color: $color-text-inverse;

        &:hover,
        &:focus {
            outline: 0;
            background-color: $color-highlight;
            color: $color-text;
            text-decoration: none;
        }

        &:active {
            background-color: darken($color-highlight, 6%);
            color: $color-text;
            text-decoration: none;
        }
    }

    // Put a bit more margin on 2nd category link, if it exists (for better touch accessibility).
    a + a {
        margin-left: 0.25em;
    }
}
