/* Breadcrumb links
   ========================================================================== */

/**
 * Lists as breadcrumbs
 *
 * Example HTML:
 *
 * <ol class="breadcrumbs">
 *     <li></li>
 *     <li></li>
 * </ol>
 */

.breadcrumbs {
    margin: 0 -1.3333333em;
    padding: 0.5em 1.3333333em; // 6px / 12px + 16px / 12px
    background-color: $color-background-box;
    font-size: $small-font-size;
    list-style: none;

    li {
        display: inline-block;
    }

    // Path-like breadcrumb styling.
    > li + li::before {
        content: "\00A0" "\002F" "\00A0";
    }
}

@include dark-mode {
    .breadcrumbs {
        background-color: $dark-color-background-box;
    }
}
