@use "../setup";

/* Buttons
   ========================================================================== */

/**
 * 1. Correct `button` style inheritance in Firefox and Opera.
 */

button {
    text-transform: none; /* 1 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/**
 * 1. Remove browser-specific default styling.
 * 2. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
[type="button"],
[type="reset"],
[type="submit"],
.button {
    @include setup.gradient-linear(var(--clr-btn-grad-from), var(--clr-btn-grad-to));

    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    padding: 0.25em 1em; // 4px / 16px
    border: 1px solid var(--clr-btn-brdr);
    border-radius: 1em;
    background-clip: padding-box;
    box-shadow: 0 2px 0 var(--clr-btn-shadow);
    color: var(--clr-text-btn);
    font-weight: normal;
    text-align: center;
    appearance: none; /* 1 */
    cursor: pointer; /* 2 */
    user-select: none;

    &:hover,
    &:active {
        border-color: var(--clr-btn-brdr-interact);
        color: var(--clr-text-btn-interact);
        text-decoration: none;
    }

    &:hover {
        filter: brightness(1.05);
        text-decoration: none;
    }

    &:active {
        top: 2px;
        box-shadow: none;
        filter: brightness(0.95);
        text-decoration: none;
    }

    &:focus {
        border-color: var(--clr-focus);
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
    }
}

/**
 * Primary buttons.
 *
 * Example HTML:
 *
 * <a class="button button-primary">
 */

.button-primary {
    @include setup.gradient-linear(var(--clr-btn-primary-grad-from), var(--clr-btn-primary-grad-to));

    border-color: var(--clr-btn-primary-brdr);
    box-shadow: 0 2px 0 var(--clr-btn-primary-shadow);
    font-weight: bolder;

    &:hover,
    &:active {
        border-color: var(--clr-btn-primary-brdr-interact);
    }

    &:active {
        box-shadow: none;
    }

    &:focus {
        border-color: var(--clr-focus);
    }
}

/**
 * Larger buttons.
 *
 * Example HTML:
 *
 * <a class="button button-large">
 */

.button-large {
    padding: 0.5em 1em; // 8px / 16px
    border-radius: 1.25em;
}

/**
 * Smaller buttons.
 *
 * Example HTML:
 *
 * <a class="button button-small">
 */

.button-small {
    font-size: setup.$small-font-size;
}

/**
 * Version label in download button.
 *
 * Example HTML:
 *
 * <a class="button button-primary button-large">Download Textpattern CMS <span class="txp-version">4.7.3</span></a>
 */

.button .txp-version {
    display: inline-block;
    margin: -0.5em 0 -0.5em 0.25em;
    padding: 0.5em 0 0.5em 0.5em;
    border-left: 1px solid var(--clr-btn-primary-shadow);
    font-weight: normal;
}

/**
 * Call to action buttons on homepage.
 */

.cta-buttons .button {
    margin: 0.5em 0;
}

/**
 * Disbaled button additional styling.
 *
 * Example HTML:
 *
 * <a class="button disabled">
 */

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled],
.button.disabled {
    top: 0 !important;
    background: var(--clr-btn-bkgd-disabled) !important;
}
