/* Buttons
   ========================================================================== */

/**
 * 1. Correct `button` style inheritance in Firefox, IE 11 and Opera.
 * 2. Address `overflow` set to `hidden` in IE 11.
 */

button {
    text-transform: none; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 2. Remove browser-specific default styling.
 */

button,
[type="button"],
[type="reset"],
[type="submit"],
a.button,
span.button {
    @include gradient-linear($color-button-gradient-from, $color-button-gradient-to);

    display: inline-block;
    width: auto;
    height: 2em; // 32px / 16px
    padding: 0.25em 0.75em; // 8px / 16px, 12px / 16px
    transition: box-shadow 0.1s linear;
    border: 1px solid $color-button-border;
    border-radius: $border-radius;
    background-clip: padding-box;
    color: $color-text-button;
    font-weight: normal;
    text-align: center;
    cursor: pointer; /* 1 */
    appearance: none; /* 2 */

    &:hover {
        @include gradient-linear(lighten($color-button-gradient-from, 4%), lighten($color-button-gradient-to, 4%));

        border-color: darken($color-button-border, 13%);
        color: $color-text-button-hover;
        text-decoration: none;
    }

    &:active {
        @include gradient-linear(darken($color-button-gradient-from, 3%), darken($color-button-gradient-to, 3%));

        border-color: darken($color-button-border, 13%);
        color: $color-text-button-active;
        text-decoration: none;
        box-shadow: inset 0 0.2em 0.25em rgba(#000000, 0.15);
    }

    &:focus {
        border-color: $color-link-focus;
        outline: 0;
    }

    &.button-success {
        @include gradient-linear(lighten($color-success-text, 10%), $color-success-text);

        border-color: darken($color-success-text, 5%);
        color: $color-text-inverse;

        &:hover {
            @include gradient-linear(lighten($color-success-text, 18%), lighten($color-success-text, 8%));

            border-color: darken($color-success-text, 12%);
            color: $color-text-inverse;
        }

        &:active {
            @include gradient-linear($color-success-text, lighten($color-success-text, 8%));

            border-color: darken($color-success-text, 12%);
            color: darken($color-text-inverse, 10%);
        }

        &:focus {
            border-color: $color-link-focus;
        }
    }

    &.button-danger {
        @include gradient-linear(lighten($color-error-text, 10%), $color-error-text);

        border-color: darken($color-error-text, 5%);
        color: $color-text-inverse;

        &:hover {
            @include gradient-linear(lighten($color-error-text, 18%), lighten($color-error-text, 8%));

            border-color: darken($color-error-text, 12%);
            color: $color-text-inverse;
        }

        &:active {
            @include gradient-linear($color-error-text, lighten($color-error-text, 8%));

            border-color: darken($color-error-text, 12%);
            color: darken($color-text-inverse, 10%);
        }

        &:focus {
            border-color: $color-link-focus;
        }
    }
}


/**
 * Donations link button.
 *
 * Example HTML:
 *
 * <a class="button button-donate">
 */

a.button.button-donate {
    @include gradient-linear(#555555, #444444);

    border-color: #222222;
    color: $color-text-inverse;
    font-weight: bold;

    &:hover {
        @include gradient-linear(lighten(#555555, 4%), lighten(#444444, 4%));

        border-color: #111111;
    }

    &:active {
        @include gradient-linear(darken(#444444, 4%), darken(#555555, 4%));

        border-color: #111111;
        color: darken($color-text-inverse, 10%);
    }

    &:focus {
        border-color: $color-link-focus;
    }
}
