/* Buttons
   ========================================================================== */

/**
 * 1. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 2. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 */

button {
    overflow: visible; /* 1 */
    text-transform: none; /* 2 */
}

/**
 * 1. Remove iOS Safari default styling.
 * 2. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
span.button {
    @include text-shadow($text-shadow-light);
    @include border-radius;
    @include box-shadow($inset-highlighting);
    @include background-clip;
    @include gradient-linear($color-gradient-from, $color-gradient-to);
    @include transition(box-shadow 0.1s linear);

    -webkit-appearance: none; /* 1 */
    display: inline-block;
    border: solid 1px $color-gradient-border;
    padding: 0.5384615em 0.75em;
    width: auto;
    height: 2.4615384em; // 32px / 13px
    font-weight: normal;
    text-align: center;
    color: $color-text;
    cursor: pointer; /* 2 */

    &:hover {
        @include gradient-linear(lighten($color-gradient-from, 4%), lighten($color-gradient-to, 4%));

        border-color: darken($color-gradient-border, 13%);
        text-decoration: none;
    }

    &:active {
        @include box-shadow(inset 0 0.2em 0.25em rgba(#000000, 0.15));
        @include gradient-linear(darken($color-gradient-to, 4%), darken($color-gradient-from, 4%));

        border-color: darken($color-gradient-border, 13%);
        color: darken($color-text, 10%);
        text-decoration: none;
    }

    &:focus {
        @include box-shadow($inset-highlighting, 0 0 4px 2px $color-link-focus);

        border-color: $color-link-focus;
        outline: 0;
    }

    &.button-success {
        @include text-shadow($text-shadow-dark);
        @include gradient-linear(lighten($color-success-text, 10%), $color-success-text);

        border-color: darken($color-success-text, 5%);
        color: #ffffff;

        &:hover {
            @include gradient-linear(lighten($color-success-text, 18%), lighten($color-success-text, 8%));

            border-color: darken($color-success-text, 12%);
        }

        &:active {
            @include gradient-linear($color-success-text, lighten($color-success-text, 8%));

            border-color: darken($color-success-text, 12%);
            color: darken(#ffffff, 10%);
        }

        &:focus {
            border-color: $color-link-focus;
        }
    }

    &.button-danger {
        @include text-shadow($text-shadow-dark);
        @include gradient-linear(lighten($color-error-text, 10%), $color-error-text);

        border-color: darken($color-error-text, 5%);
        color: #ffffff;

        &:hover {
            @include gradient-linear(lighten($color-error-text, 18%), lighten($color-error-text, 8%));

            border-color: darken($color-error-text, 12%);
        }

        &:active {
            @include gradient-linear($color-error-text, lighten($color-error-text, 8%));

            border-color: darken($color-error-text, 12%);
            color: darken(#ffffff, 10%);
        }

        &:focus {
            border-color: $color-link-focus;
        }
    }
}

/**
 * Donations link button.
 *
 * Example HTML:
 *
 * <a class="button button-donate">
 */

a.button.button-donate {
    @include text-shadow($text-shadow-dark);
    @include gradient-linear(#555555, #444444);

    border-color: #222222;
    color: #ffffff;
    font-weight: bold;

    &:hover {
        @include gradient-linear(lighten(#555555, 4%), lighten(#444444, 4%));

        border-color: #111111;
    }

    &:active {
        @include gradient-linear(darken(#444444, 4%), darken(#555555, 4%));

        border-color: #111111;
        color: darken(#ffffff, 10%);
    }

    &:focus {
        border-color: $color-link-focus;
    }
}
