/* Cards/article tiles
   ========================================================================== */

/**
 * Card container.
 *
 * Example HTML:
 *
 * <article class="card align-center">
 *     <small class="alert-block alert-pill success">FEATURED</small>
 *     <header class="card-header">
 *         ... Header content ...
 *     </header>
 *     <a><img class="card-img"></a>
 *     <div class="card-body">
 *         ... Body content ...
 *     </div>
 *     <footer class="card-footer">
 *         ... Header content ...
 *     </footer>
 * </article>
 */

.card {
    display: flex;
    position: relative;
    flex: 1 0 0%;
    flex-direction: column;
    margin: 0.5em 0;
    border: 1px solid $color-border-light;
    word-wrap: break-word;

    .alert-pill {
        position: absolute;
        top: 0;
        left: -1px;
        transform: translateY(-50%);
        border-radius: ($border-radius / 2) ($border-radius / 2) ($border-radius / 2) 0;
    }
}

.card.align-right .alert-pill {
    right: -1px;
    left: auto;
    border-radius: ($border-radius / 2) ($border-radius / 2) 0;
}

.card.align-center .alert-pill {
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: ($border-radius / 2);
}

@include dark-mode {
    .card {
        border-color: $dark-color-border-light;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: 0 1rem;
}

.card-postinfo {
    margin-top: -1em;
}

.card-header,
.card-footer {
    padding: 0.33rem 1rem;
    background: $color-background-box;
}

.card-header {
    border-bottom: 1px solid $color-border-light;
}

.card-footer {
    border-top: 1px solid $color-border-light;
}

@include dark-mode {
    .card-header,
    .card-footer {
        border-color: $dark-color-border-light;
        background: $dark-color-background-box;
    }
}
