@use "../setup";

/* Code highlighting (via Prism.js)
   ========================================================================== */

code[class*="language-"],
pre[class*="language-"] {
    direction: ltr;
    hyphens: none;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: pre;
}

/**
 * Inline code.
 */

:not(pre) > code[class*="language-"] {
    white-space: normal;
}

/**
 * Syntax colours/styles.
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #708090;
}

.token.punctuation {
    color: #999999;
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #990055;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #669900;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #0077aa;
}

.token.function {
    color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
    color: #ee9900;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/*
 * Line numbers (plugin).
 */

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    top: 0;
    left: -3.8em;
    width: 3em; // Works for line-numbers below 1000 lines
    border-right: 1px solid var(--color-brdr-light);
    font-size: 1em;
    letter-spacing: -1px;
    pointer-events: none;
    user-select: none;
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
    pointer-events: none;
}

.line-numbers-rows > span::before {
    content: counter(linenumber);
    display: block;
    padding-right: 0.8em;
    color: var(--color-text-footnote);
    direction: ltr;
    text-align: right;
}

@include setup.dark-mode {
    .token.punctuation {
        color: var(--color-text-white-out);
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
        color: var(--color-error-text);
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
        color: var(--color-success-text);
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
        color: var(--color-warning-text);
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: var(--color-info-text);
    }
}
