/* Google Code Prettify
   ========================================================================== */

/* markup colouring */
.atn,
.dec,
.typ,
.var {
    color: teal;
}
.atv,
.str {
    color: #dd1144;
}
.clo,
.opn,
.pun {
    color: #93a1a1;
}
.com {
    color: #93a1a1;
}

.fun {
    color: #dc322f;
}
.kwd {
    color: #1e347b;
}
.lit {
    color: #195f91;
}
.pln {
    color: #48484c;
}
.tag {
    color: #1e347b;
}

/* Google Code Prettify - line number colouring */
.linenums {
    padding-left: 2em;

    ol {
        @include box-shadow(inset 1.9166667em 0 0 $color-background-box, inset 2em 0 0 lighten($color-border, 9%));

        margin: 0;
    }

    li {
        padding-left: 1em;
        color: darken($color-border, 8%);
    }
}
