/**
 * Cookie disclaimer message styling (used in conjuction with JavaScript).
 */

#cookie-disclaimer {
    padding: 1px 0;
    border-bottom: 1px solid $color-border;
    background-color: $color-background-box;
    color: $color-text;
    font-size: $small-font-size;
    box-shadow: inset 0 -0.25em 0.25em rgba(51, 51, 51, 0.1);
}
