/**
 * Cookie disclaimer message styling (used in conjuction with JavaScript).
 */

#cookie-disclaimer {
    @include adjust-font-size-to(11px, 0.8);
    @include box-shadow(inset 0 -0.25em 0.25em rgba(51, 51, 51, 0.1));

    border-bottom: 1px solid $color-border;
    padding: 1px 0;
    color: $color-text;
    background-color: $color-background-box;
}
