/* Disclosure boxes (summary/details)
   ========================================================================== */

/**
 * Example HTML:
 *
 * <details>
 *     <summary>Summary text</summary>
 *     <p>Detailed content.</p>
 * </details>
 */

summary {
    cursor: pointer;

    &:focus {
        outline: 1px solid $color-link-focus;
    }
}

@include dark-mode {
    summary:focus {
        outline: 1px solid $dark-color-link-focus;
    }
}
