/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 11.
 */

audio,
video {
    display: inline-block;
}

/**
 * Make embedded elements responsive.
 */

img,
video {
    max-width: 100%;
    height: auto;
}

/**
 * Images.
 *
 * 1. Remove the gap between images and the bottom of their containers.
 *
 * Image alignment (compatible with Textile markup syntax).
 *
 * Example HTML:
 *
 * <img class="align-left">
 * <img class="align-right">
 * <img class="align-center">
 */

img {
    vertical-align: middle; /* 1 */

    &.align-left {
        margin: 1em 1em 1em 0;
        float: left;
    }

    &.align-right {
        margin: 1em 0 1em 1em;
        float: right;
    }

    &.align-center {
        display: block;
        margin: 1em auto;
    }
}

/**
 * Rounded corner images.
 *
 * Example HTML:
 *
 * <img class="img--rounded">
 */

.img--rounded {
    border-radius: $border-radius;
}

/**
 * Circular images.
 *
 * Example HTML:
 *
 * <img class="img--circular">
 */

.img--circular {
    border-radius: 50%;
}

/**
 * Add margins to `figure`.
 */

figure {
    margin: 1em 0;
}
