/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 11.
 */

audio,
video {
    display: inline-block;
}

/**
 * Make embedded elements responsive.
 */

img,
video {
    max-width: 100%;
    height: auto;
}

/**
 * Images.
 *
 * 1. Remove the gap between images and the bottom of their containers.
 *
 * Image alignment (compatible with Textile markup syntax).
 *
 * Example HTML:
 *
 * <img class="align-left">
 * <img class="align-right">
 * <img class="align-center">
 */

img {
    vertical-align: middle; /* 1 */

    &.align-left {
        margin: 1em 1em 1em 0;
        float: left;
    }

    &.align-right {
        margin: 1em 0 1em 1em;
        float: right;
    }

    &.align-center {
        display: block;
        margin: 1em auto;
    }
}

/**
 * Rounded corner images.
 *
 * Example HTML:
 *
 * <img class="img--rounded">
 */

.img--rounded {
    border-radius: $border-radius;
}

/**
 * Circular images.
 *
 * Example HTML:
 *
 * <img class="img--circular">
 */

.img--circular {
    border-radius: 50%;
}

/**
 * Showcase images.
 */

.showcase-container {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}

.showcase-1 {
    position: relative;
    bottom: 0;
    max-width: 480px;
    margin: 0 auto;
    z-index: 3;

    &::before {
        display: block;
        width: 482px;
        height: 32px;
        background-image: url("../img/com/showcase1-bar@2x.png");
        background-size: 482px 32px;
        box-shadow: 0 0.5em 0.75em rgba(51, 51, 51, 0.33);
        content: "";
    }

    img {
        border: 1px solid $color-border;
        box-shadow: 0 0.5em 0.75em rgba(51, 51, 51, 0.33);
    }
 }

.showcase-2 {
    position: absolute;
    bottom: 1em;
    left: 0;
    z-index: 2;

    &::before {
        display: block;
        width: 362px;
        height: 32px;
        background-image: url("../img/com/showcase2-bar@2x.png");
        background-size: 362px 32px;
        box-shadow: 0 0.25em 0.5em rgba(51, 51, 51, 0.33);
        content: "";
    }

    img {
        border: 1px solid $color-border;
        box-shadow: 0 0.25em 0.5em rgba(51, 51, 51, 0.33);
    }
}

.showcase-3 {
    position: absolute;
    right: 0;
    bottom: 1em;
    z-index: 1;

    &::before {
        display: block;
        width: 362px;
        height: 32px;
        background-image: url("../img/com/showcase3-bar@2x.png");
        background-size: 362px 32px;
        box-shadow: 0 0.25em 0.5em rgba(51, 51, 51, 0.33);
        content: "";
    }

    img {
        border: 1px solid $color-border;
        box-shadow: 0 0.25em 0.5em rgba(51, 51, 51, 0.33);
    }

}

/**
 * Address margin not present in Safari.
 */

figure {
    margin: 0;
}

/**
 * Correct overflow not hidden in IE 11.
 */

svg:not(:root) {
    overflow: hidden;
}

/**
 * Reset fonts and sets background colour for Flowplayer video player.
 *
 * Example HTML:
 *
 * <div class="videoplayer">
 *     <video>
 *         <source>
 *     </video>
 * </div>
 */

.videoplayer {
    background-color: $color-text;
    font-family: sans-serif;
}
