/* ==========================================================================
   Fonts
   ========================================================================== */

/**
 * 'PT Serif' font.
 */

// Regular
@font-face {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
    src: url("../fonts/pt-serif-v9-latin-ext-regular.woff2") format("woff2"), url("../fonts/pt-serif-v9-latin-ext-regular.woff") format("woff");
}

// Regular Italic
@font-face {
    font-family: "PT Serif";
    font-style: italic;
    font-weight: normal;
    font-display: fallback;
    src: url("../fonts/pt-serif-v9-latin-ext-italic.woff2") format("woff2"), url("../fonts/pt-serif-v9-latin-ext-italic.woff") format("woff");
}

// Bold
@font-face {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: bold;
    font-display: fallback;
    src: url("../fonts/pt-serif-v9-latin-ext-700.woff2") format("woff2"), url("../fonts/pt-serif-v9-latin-ext-700.woff") format("woff");
}

// Bold Italic
@font-face {
    font-family: "PT Serif";
    font-style: italic;
    font-weight: bold;
    font-display: fallback;
    src: url("../fonts/pt-serif-v9-latin-ext-700italic.woff2") format("woff2"), url("../fonts/pt-serif-v9-latin-ext-700italic.woff") format("woff");
}
