/* Forms
   ========================================================================== */

/**
 * 1. Define consistent fieldset border, margin, and padding.
 * 2. Address width being affected by wide descendants in Chrome, Firefox.
 */

fieldset {
    margin: 1em 0; /* 1 */
    border: 1px solid $color-border; /* 1 */
    padding: 1px 1em; /* 1 */
    min-width: 0; /* 2 */
}

/**
 * Stylise fieldset legends.
 */

legend {
    @include adjust-font-size-to(14px, 1);

    margin: 0 -1em;
    border: 1px solid $color-border;
    padding: 0.2142857em 1em; // 3px / 14px
    font-family: $font-serif;
    font-weight: bold;
    background-color: $color-background-box;
}

/**
 * 1. Correct font properties not being inherited.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 3. Prevent elements from spilling out of their parent.
 */

button,
input,
select,
optgroup,
textarea,
a.button,
span.button {
    @include box-sizing;

    font-size: 100%; /* 1 */
    @include adjust-font-size-to(13px, 0.8);

    margin: 0;  /* 2 */
    max-width: 100%;  /* 3 */
    font-family: $font-sans-serif;
    vertical-align: baseline;
}

/**
 * Colour for placeholder text.
 */

input,
textarea {
    @include input-placeholder {
        color: $color-text-footnote;
    }
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Styling of form input fields.
 *
 * 1. Remove iOS Safari default styling.
 * 2. Make form element text on mobile 16px, to avoid auto-zooming.
 * 3. `!important` fixes autosize on viewport changes.
 */

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    @include transition(border-color 0.1s linear, box-shadow 0.1s linear);

    -webkit-appearance: none; /* 1 */
    border: 1px solid $color-border;
    border-radius: 0;
    padding: 0.5384615em; // 7px / 13px
    height: 2.4615384em; // 32px / 13px
    background: $color-background;

    &:focus {
        @include box-shadow(0 0 4px 2px $color-link-focus);

        border-color: $color-link-focus;
        outline: 0;
    }

    @include breakpoint(max-width $breakpoint-2) {
        font-size: 16px !important; /* 2 */
        line-height: 1.375 !important; /* 3 */
    }
}

/**
 * Remove padding from `color` fields.
 */

input[type="color"] {
    padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Remove excess padding in IE 9/10.
 * 2. Correct margins for inline checkbox/radio labels.
 */

input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* 1 */

    + label {
        margin-right: 0.5em; /* 2 */

        &:last-of-type {
            margin-right: 0; /* 2 */
        }
    }
}

/**
 * Correct `select` style inheritance in Firefox.
 */

select {
    text-transform: none;
}

/**
 * Override height set in a previous rule and allow auto heght.
 */

select[size],
select[multiple] {
    height: auto;
}

/**
 * Override height set in rule above and restrict to one line field.
 */

select[size="0"],
select[size="1"] {
    height: 2.4615384em; // 32px / 13px
}

@media (-webkit-min-device-pixel-ratio: 0) {

    /**
     * Address `select` alignment in Safari, Chrome, Opera.
     */

    select[size],
    select[multiple],
    select[multiple][size] {
        padding-right: 0.5384615; // 7px / 13px
        background-image: none;
    }

    /**
     * Use indicator icon to signify the downdown ability of `select` in Safari,
     * Chrome, Opera.
     */

    select,
    select[size="0"],
    select[size="1"] {
        padding-right: 2em;
        background: $color-background url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='13px' height='4px' viewBox='0 0 13 4' enable-background='new 0 0 13 4' xml:space='preserve'><polygon fill='#333333' points='3.5,4 0,0 7,0'/></svg>") right center no-repeat;
        background-size: 1em 0.30769em;
    }

}

/**
 * Normalise styling of `optgroup`.
 */

optgroup {
    font-style: normal;
    font-weight: bold;
    color: $color-text;
}

/**
 * 1. Remove default vertical scrollbar in IE 9/10/11.
 * 2. Restrict to vertical resizing to prevent layout breakage.
 */

textarea {
    overflow: auto; /* 1 */
    resize: vertical; /* 2 */
    width: 100%;
    height: auto;
    min-height: 3em;
}

/**
 * Make sure disabled elements really are disabled and styled appropriately.
 *
 * 1. Re-set default cursor for disabled elements.
 * 2. Override default iOS opacity setting.
 */

button[disabled],
input[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
span.disabled {
    border-color: lighten($color-border, 9%) !important;
    background: #eeeeee !important;
    color: #aaaaaa !important;
    text-shadow: none !important;
    box-shadow: none !important;
    cursor: default !important; /* 1 */
    opacity: 1; /* 2 */
}

/**
 * Width display options for `input` fields.
 *
 * Example HTML:
 *
 * <input class="small">
 * <input class="medium">
 * <input class="large">
 */

input {
    &.small {
        width: 33%;
    }

    &.medium {
        width: 66%;
    }

    &.large,
    &[size="32"] {
        width: 100%;
    }
}

/**
 * Styling for required field indicators.
 *
 * Example HTML:
 *
 * <span class="required" title="Required" aria-label="Required">●</span>
 */

span.required {
    color: $color-warning-text;
}

label.zemRequired,
label.zemRequirederrorElement {
    &:after {
        color: $color-warning-text;
        content: "\00A0" "\25CF";
    }
}
