/* Forms
   ========================================================================== */

/**
 * 1. Address width being affected by wide descendants in Chrome, Firefox.
 * 2. Define consistent fieldset border, margin, and padding.
 */

fieldset {
    min-width: 0; /* 1 */
    margin: 1em 0; /* 2 */
    padding: 1px 1em; /* 2 */
    border: 1px solid $color-border; /* 2 */
}

/**
 * Normalize styling of `legend`.
 *
 * 1. Correct wrapping not present in IE 11 and Edge 12/13.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct `color` not being inherited from fieldset in IE 11.
 */

legend {
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 2 */
    color: inherit; /* 3 */
    white-space: normal; /* 1 */
    box-sizing: border-box; /* 1 */
}

/**
 * 1. Prevent elements from spilling out of their parent.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 3. Correct font properties not being inherited.
 */

button,
input,
select,
optgroup,
textarea,
.button {
    max-width: 100%;  /* 1 */
    margin: 0;  /* 2 */
    color: $color-text-form;
    font-family: $font-form;
    font-size: $base-font-size; /* 3 */
    line-height: 1.375; // 22px / 16px
    vertical-align: baseline;
    box-sizing: border-box;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/**
 * Remove inner padding in Safari and Chrome on OS X. Safari (but not Chrome)
 * clips the cancel button when the search input has padding (and `textfield`
 * appearance).
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Styling of form input fields.
 *
 * 1. Remove browser-specific default styling.
 */

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    height: 2em; // 32px / 16px
    padding: 0.25em 0.1875em; // 8px / 16px + 3px / 16px
    border: 1px solid $color-border;
    border-radius: 0;
    background: $color-background-form;
    appearance: none; /* 1 */

    &:focus {
        border-color: $color-link-focus;
        outline: 0;
    }
}

/**
 * Fix vertical alignment of `color` fields with their label.
 */

[type="color"] {
    vertical-align: middle;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Remove any excess padding.
 * 2. Correct margins for inline checkbox/radio labels.
 */

[type="checkbox"],
[type="radio"] {
    padding: 0; /* 1 */

    + label {
        margin: 0 0.5em 0 0; /* 2 */

        &:last-of-type {
            margin: 0; /* 2 */
        }
    }
}

/**
 * Use indicator icon to signify the drop-down ability of `select`.
 */

select {
    padding-right: 1.5em; // 24px / 16px
    background: $color-background-form url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxN3B4JyBoZWlnaHQ9JzVweCcgdmlld0JveD0nMCAwIDE3IDUnPjxwb2x5Z29uIGZpbGw9JyUyMzMzMycgcG9pbnRzPScwLDAgNSw1IDEwLDAnLz48L3N2Zz4=") right center no-repeat;
    background-size: 1.0625em 0.3125em; // 17px / 16px, 5px / 16px
    text-transform: none;
}

/**
 * Remove browser-specific `select` UI in IE 11.
 */

select::-ms-expand {
    opacity: 0;
}

/**
 * Remove browser-specific `select` UI in Firefox 4+.
 */

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $color-text-form;
}

/**
 * Override height and background set in a previous rule and allow auto height.
 */

select[size],
select[multiple] {
    height: auto;
    padding-right: 0.5em;
    background-image: none;
}

/**
 * Override height set in rule above and restrict to one line field.
 */

select[size="0"],
select[size="1"] {
    height: 2em; // 32px / 16px
}

/**
 * Normalize styling of `optgroup`.
 */

optgroup {
    color: $color-text-form;
    font-style: normal;
    font-weight: bold;
}

/**
 * 1. Remove default vertical scrollbar in IE 11.
 * 2. Remove unwanted space below `textarea` in Safari, Chrome, Opera.
 * 3. Restrict to vertical resizing to prevent layout breakage.
 */

textarea {
    width: 100%;
    height: auto;
    min-height: 3em;
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: vertical; /* 3 */
}

/**
 * Make sure disabled elements really are disabled and styled appropriately.
 *
 * 1. Re-set default cursor for disabled elements.
 * 2. Override default iOS opacity setting.
 */

[disabled],
[disabled] option,
[disabled] optgroup,
span.disabled {
    border-color: $color-border-light !important;
    background: $color-background-form-disabled !important;
    color: $color-text-form-disabled !important;
    text-shadow: none !important;
    box-shadow: none !important;
    cursor: default !important; /* 1 */
    opacity: 1; /* 2 */
}

/**
 * Width display options for `input` fields.
 *
 * Example HTML:
 *
 * <input class="small">
 * <input class="medium">
 * <input class="large">
 */

input {
    &.small {
        width: 33%;
    }

    &.medium {
        width: 66%;
    }

    &.large {
        width: 100%;
    }
}

/**
 * Styling for required field indicators.
 *
 * Example HTML:
 *
 * <span class="required" title="Required" aria-label="Required">●</span>
 */

span.required {
    color: $color-warning-text;
}

label.zemRequired,
label.zemRequirederrorElement {
    &::after {
        color: $color-warning-text;
        content: "\00A0" "\25CF";
    }
}

/**
 * Styling for form field validation.
 */

input,
textarea {
    &:focus:invalid,
    &.errorElement,
    &.zemRequirederrorElement,
    &.comments_error {
        border-color: $color-error-text;
        box-shadow: none; // Normalise Firefox styling
    }
}

/**
 * 1. Add the correct display in IE 11.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block; /* 1 */
    width: 10em;
    height: 0.75em;
    margin-right: 0.33em;
    border: 1px solid $color-border-light;
    vertical-align: baseline; /* 2 */
    appearance: none;
}

progress::-webkit-progress-value {
    background-color: $color-highlight;
}

progress::-webkit-progress-bar {
    background-color: #e7e7e7;
}

progress::-moz-progress-bar {
    background-color: $color-highlight;
}

.data-progress {
    display: inline-block;
    min-width: 2.75em;
    margin-right: 0.5em;
    font-size: $small-font-size;
}
