/* ==========================================================================
   Layout grid
   ========================================================================== */

/**
 * Flex container.
 */

.layout-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;

    > * {
        min-width: 0;
        padding: 0 1em;
        box-sizing: border-box;
    }
}

/**
 * Generate sizes all for grid column cells.
 *
 * Because this is mobile first, cells are all initially a 1 column span
 * (full width, 12 cell span). We will then adjust them at various breakpoints.
 *
 * Example HTML:
 *
 * <div class="layout-1col"></div>
 *
 * <div class="layout-2col">
 * <div class="layout-2col">
 *
 * <div class="layout-4col-3span"></div>
 * <div class="layout-4col"></div>
 */

.layout-1col,
.layout-2col,
.layout-3col,
.layout-3col-2span,
.layout-4col,
.layout-4col-alt,
.layout-4col-2span,
.layout-4col-3span {
    width: 100%;
}
