/* Layout
   ========================================================================== */

/**
 * 1. Always force scrollbar padding so we don't get 'jumping'.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. As 2 above, for Windows Phone.
 */

html {
    -webkit-tap-highlight-color: rgba($color-link-hover, 0.5);
    overflow-y: scroll; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/**
 * 1. Set `body` to `relative` to allow positioning of absolute elements.
 * 2. Remove default margin.
 */

body {
    position: relative; /* 1 */
    margin: 0; /* 2 */
    color: $color-text-inverse;
    background-color: $color-text;
}

.wrapper {
    position: relative;
    padding: 1px 0;
    color: $color-text;
    background: $color-background;
}

header,
footer,
.container {
    margin: 0 auto;
    width: 90%;
    max-width: $container-max-width;
}

header {
    position: relative;
}

h1.masthead {
    font-size: 1em;
    margin: 1em 0;

    a {
        @include hide-text;

        display: block;
        width: 208px;
        height: 34px;
        background-image: url("../img/branding/textpattern/textpattern-mobile.svg");
        background-size: 208px 34px;

        &:hover {
            @include filter(#{"brightness(1.1)"}); // temporary workaround for Sass/Compass bug when using @include filter(brightness(1.1));
        }

        @include breakpoint($breakpoint-2) {
            width: 320px;
            height: 52px;
            background-image: url("../img/branding/textpattern/textpattern.svg");
            background-size: 320px 52px;
        }
    }
}

#search-form {
    position: absolute;
    top: 0.75em;
    right: 0;
    z-index: 3;

    @include breakpoint(max-width $breakpoint-2) {
        top: 0;
        right: 48px;
    }

    @include breakpoint(max-width $breakpoint-1) {
        right: 36px;
    }

    // search input field
    input#search-query {
        @include border-radius;
        @include transition(width 0.2s linear, box-shadow 0.1s linear);

        width: 240px;
        height: 34px;
        padding-left: 32px;
        background: url("../img/branding/misc/icon-sprite.svg") no-repeat left center;
        background-size: 160px 32px;
        background-position: -128px 0;

        @include breakpoint(max-width $breakpoint-2) {
            @include input-placeholder {
                color: transparent;
            }

            padding-right: 0;
            width: 34px;
            cursor: pointer;

            &:hover {
                background-color: #e3edfc;
            }

            &:focus {
                @include input-placeholder {
                    color: $color-text-footnote;
                }

                padding-right: 0.5384615em;
                width: 240px;
                cursor: auto;
                background-color: #ffffff;
            }
        }
    }
}

.community-details,
.host-details {
    display: none;

    @include breakpoint($breakpoint-2) {
        display: block;
    }
}

.community-links {
    list-style: none;
    padding: 0;
}

.host-details {
    margin-top: 1em;
    text-align: center;
}

.joyent {
    display: inline-block;
    line-height: 1;
}

footer {
    clear: both;
    position: relative;
}

/**
 * Prevent really, really long words in article from breaking layout.
 */

article {
    word-wrap: break-word;
}

.legal {
    @include adjust-font-size-to(11px, 0.85);
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    @include box-sizing(content-box);

    border: 0; // remove the default `hr` border
    height: 24px;
    background: url("../img/com/hr.svg") 50% 50% no-repeat;
    background-size: 240px 24px;
}
