/* Layout
   ========================================================================== */

html {
    -webkit-tap-highlight-color: rgba($color-link-hover, 0.5);
    /* always force scrollbar padding so we don't get 'jumping' */
    overflow-y: scroll;
    /* prevent iOS text size adjust after orientation change, without disabling user zoom */
    -webkit-text-size-adjust: 100%;
    /* as above, for Windows Phone */
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: $color-text-inverse;
    background-color: $color-text;
}

.wrapper {
    position: relative;
    padding: 1px 0;
    color: $color-text;
    background: $color-background;
}

header,
.container,
footer {
    margin: 0 auto;
    width: 90%;
    max-width: $container-max-width;
}

header {
    position: relative;
}

h1.masthead {
    font-size: 1em;
    margin: 1em 0;

    a {
        @include hide-text;
        @include svg-graphic(/branding/textpattern/textpattern-mobile, png, 208px, 34px);

        display: block;
        width: 208px;
        height: 34px;

        &:hover {
            //@include filter(brightness(1.1));
        }

        @include breakpoint($breakpoint-2) {
            @include svg-graphic(/branding/textpattern/textpattern, png, 320px, 52px);

            width: 320px;
            height: 52px;
        }
    }
}

#search-form {
    position: absolute;
    top: 0.75em;
    right: 0;
    z-index: 3;

    @include breakpoint(max-width $breakpoint-2) {
        top: 0;
        right: 48px;
    }

    @include breakpoint(max-width $breakpoint-1) {
        right: 36px;
    }

    // search input field
    input#search-query {
        @include border-radius;
        @include svg-graphic(/branding/misc/search, png, 32px, 32px);

        width: 240px;
        height: 34px;
        padding-left: 32px;
        background-position: left center;
        background-repeat: no-repeat;
        -webkit-transition: width 0.2s linear, box-shadow 0.2s linear;
        -moz-transition: width 0.2s linear, box-shadow 0.2s linear;
        transition: width 0.2s linear, box-shadow 0.2s linear;

        @include breakpoint(max-width $breakpoint-2) {
            @include input-placeholder {
                color: transparent;
            }

            padding-right: 0;
            width: 34px;
            cursor: pointer;

            &:hover {
                background-color: #e3edfc;
            }

            &:focus {
                @include input-placeholder {
                    color: $color-text-footnote;
                }

                padding-right: 0.5384615em;
                width: 240px;
                cursor: auto;
                background-color: #ffffff;
            }
        }
    }
}

.community-details,
.host-details {
    display: none;

    @include breakpoint($breakpoint-2) {
        display: block;
    }
}

.community-links {
    list-style: none;
    padding: 0;
}

.host-details {
    margin-top: 1em;
    text-align: center;
}

footer {
    clear: both;
    position: relative;
}

.joyent {
    display: inline-block;
    line-height: 1;
}

.legal {
    @include adjust-font-size-to(11px, 0.85);

    margin-right: 48px;
}

.html5 {
    position: absolute;
    bottom: 0;
    right: 0;

    a {
        @include hide-text;
        @include svg-graphic(/branding/misc/html5-inverse, png, 32px, 32px);

        display: block;
        width: 32px;
        height: 32px;

        &:hover {
            //@include filter(brightness(1.1));
        }
    }
}

/* address differences between Firefox and other browsers */
hr {
    @include box-sizing(content-box);

    border: 0; // remove the default `hr` border
    border-bottom: 1px solid $color-border;
    height: 0;
}
