/* Layout
   ========================================================================== */

/**
 * 1. Always force scrollbar padding so we don't get 'jumping'.
 * 2. Prevent text size adjust after mobile device orientation change, without
 *    disabling user zoom.
 */

html {
    overflow-y: scroll; /* 1 */
    text-size-adjust: 100%; /* 2 */
}

/**
 * 1. Set `body` to `relative` to allow positioning of absolute elements.
 * 2. Remove default margin.
 */

body {
    position: relative; /* 1 */
    margin: 0; /* 2 */
    background-color: $color-text;
    color: $color-text-inverse;
}

/**
 * Outer wrapper for main layouts.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <header class="site-header"></header>
 *     <div class="nav-container">
 *         <nav class="site-navigation"></nav>
 *     </div>
 *     <main></main>
 * </div>
 */

.wrapper {
    position: relative;
    padding: 1px 0;
    background: $color-background;
    color: $color-text;
}

/**
 * Wrapper for layouts, and for header/footer.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.site-header,
.site-footer,
.container {
    width: 90%;
    max-width: $container-max-width;
    margin: 0 auto;
}

/**
 * Additional styling for site header.
 */

.site-header {
    position: relative;
}

.masthead {
    margin: 1em 0;
    font-size: 1em;

    a {
        @include hide-text;

        display: block;
        width: 208px;
        height: 34px;
        background-image: url("../img/branding/textpattern/textpattern-mobile.svg");
        background-size: 208px 34px;

        &:hover {
            filter: brightness(1.1);
        }

        @include breakpoint($breakpoint-2) {
            width: 320px;
            height: 52px;
            background-image: url("../img/branding/textpattern/textpattern.svg");
            background-size: 320px 52px;
        }
    }
}

.search-form {
    position: absolute;
    top: 0.75em;
    right: 0;
    z-index: 3;

    @include breakpoint(max-width $breakpoint-2) {
        top: 0;
        right: 48px;
    }

    @include breakpoint(max-width $breakpoint-1) {
        right: 36px;
    }

    // search input field
    input[type="search"] {
        width: 240px;
        height: 34px;
        padding-left: 32px;
        transition: width 0.2s ease-in-out, border-color 0.2s ease-in-out;
        border-radius: $border-radius;
        background: url("../img/branding/misc/icon-sprite.svg") no-repeat left center;
        background-position: -128px 0;
        background-size: 160px 32px;

        @include breakpoint(max-width $breakpoint-2) {
            width: 34px;
            padding-right: 0;
            cursor: pointer;

            &:hover {
                background-color: #e3edfc;
            }

            &:focus {
                width: 240px;
                padding-right: 0.5384615em;
                background-color: $color-background;
                cursor: auto;
            }
        }
    }
}

.community-details,
.host-details {
    display: none;

    @include breakpoint($breakpoint-2) {
        display: block;
    }
}

.community-links {
    padding: 0;
    list-style: none;
}

.host-details {
    margin-top: 1em;
    text-align: center;
}

.joyent {
    display: inline-block;
    line-height: 1;
}

.site-footer {
    position: relative;
    clear: both;
}

.legal {
    font-size: $small-font-size;
}

/**
 * 1. Allow positioning within `article` and `section` content.
 * 2. Prevent really, really long words in `article` and `section` from breaking layout.
 */

article,
section {
    position: relative; /* 1 */
    z-index: 1; /* 1 */
    word-wrap: break-word; /* 2 */
}

/**
 * Zebra striping in main content area.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="inner-wrapper odd">
 *         <div class="container">
 *             Content
 *         </div>
 *     </div>
 * </div>
 */

.wrapper-inner {
    position: relative;

    &.odd,
    &.even {
        .article {
            padding: 46px 0;

            &:after {
                position: absolute;
                bottom: -40px;
                left: 50%;
                width: 80px;
                height: 40px;
                margin-left: -40px;
                background-image: url("http://static2.designhive.com/assets/img/sprite.svg");
                background-size: 1100px 120px;
                content: "";
                z-index: 2;
            }
        }
    }

    &.odd {
        border-color: $color-background-zebra;
        background-color: $color-background;

        .article:after {
            background-position: -280px -80px;
        }
    }

    &.even {
        border-color: $color-background;
        background-color: $color-background-zebra;

        .article:after {
            background-position: -360px -80px;
        }
    }

    &:last-child {
        padding-bottom: 46px;

        .article:after {
            display: none;
        }
    }
}
