/* Links
   ========================================================================== */

/**
 * 1. Remove default underline style from non-hover state links.
 * 2. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 3. Specify link colour.
 * 4. Remove the gray background color from active links in IE 10.
 */

a {
    text-decoration: none; /* 1 */
    text-decoration-skip: ink edges; /* 2 */
    color: $color-link; /* 3 */
    background: transparent; /* 4 */
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 * Specify link state colours.
 *
 * 1. Expanded CSS level 3 `text-decoration` property in supported browsers,
 *    older browsers will fallback to legacy `text-decoration` property.
 */

a {
    &:hover,
    &:active {
        outline: 0;
        text-decoration: underline;
        text-decoration: $color-link solid underline; /* 1 */
        color: $color-link-hover;
    }

    &:focus {
        outline: thin dotted $color-link-focus;
    }

    &:visited {
        color: $color-link-visited;
    }
}

/**
 * Additional styling for child links within `role=complementary` and site footer.
 */

.complementary-content a,
.site-footer a {
    color: $color-selecting;

    &:hover,
    &:active {
        color: $color-selected;
    }

    &:focus {
        outline: thin dotted $color-selected;
    }

    &:visited {
        color: $color-selecting;
    }
}

/**
 * Images as links.
 *
 * Example HTML:
 *
 * <a class="a--img">
 *     <img>
 * </a>
 */

.a--img {
    img {
        @include transition(box-shadow 0.1s linear);

    }

    &:focus {
        outline: 0;

        img {
            @include box-shadow(0 0 4px 2px $color-link-focus);
        }
    }
}
