/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 */

a {
    color: $color-link; /* 1 */
    text-decoration: none; /* 2 */
    text-decoration-skip-ink: auto; /* 3 */
    text-underline-offset: 0.125em;

    &:hover,
    &:active {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        outline: 1px solid $color-link-focus;
    }
}

@include dark-mode {
    a {
        color: $dark-color-link;

        &:hover,
        &:active {
            color: $dark-color-link-hover;
        }

        &:focus {
            outline: thin solid $dark-color-link-focus;
        }
    }
}

/**
 * Additional styling for heading links.
 *
 * 1. Expanded CSS level 3 `text-decoration-color` property in supported
 *    browsers, older browsers ignore this addition.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: $color-text;

        &:hover,
        &:active {
            color: $color-text;
            text-decoration-color: rgba($color-text, 0.5);  /* 1 */
        }
    }
}

@include dark-mode {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a {
            color: $dark-color-text-heading;

            &:hover,
            &:active {
                color: $dark-color-text-heading;
                text-decoration-color: rgba($dark-color-text-heading, 0.5);  /* 1 */
            }
        }
    }
}

/**
 * Additional styling for links within complementary content and site footer.
 */

.complementary-content a:not(.button),
.site-footer a {
    color: $color-selecting;

    &:hover,
    &:active {
        color: $color-selected;
    }

    &:focus {
        outline: 1px solid $color-selecting;
    }
}

/**
 * Images as links.
 *
 * Example HTML:
 *
 * <a class="a--img">
 *     <img>
 * </a>
 */

.a--img {
    img {
        border: solid 1px $color-border;
    }

    &:hover img {
        border-color: $color-link-hover;
    }

    &:focus {
        outline: 0;

        img {
            border-color: $color-link-focus;
        }
    }
}

@include dark-mode {
    .a--img {
        img {
            border-color: $dark-color-border;
        }

        &:hover img {
            border-color: $dark-color-link-hover;
        }

        &:focus img {
            border-color: $dark-color-link-focus;
        }
    }
}

/**
 * Visually hide unfocussed/inactive ‘skip links’.
 *
 * Example HTML:
 *
 * <a class="a--skip-link">
 */

.a--skip-link {
    position: absolute;
    z-index: 101;
    top: 1px;
    left: 1px;
    padding: 0.25em 0.5em;
    transform: translateY(-5em);
    transition: transform 0.25s ease-in-out;
    background-color: $color-selected;
    color: $color-text;

    &:focus,
    &:active {
        transform: translateY(0);
    }
}

@include dark-mode {
    .a--skip-link {
        background-color: $dark-color-selecting;
        color: $dark-color-text;
    }
}

/**
 * Link group, with comfortable space between items.
 *
 * Example HTML:
 *
 * <p class="link-group">
 *     <a>Link 1
 *     <a>Link 2
 */

.link-group a {
    margin-right: 0.5rem;
}
