//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* Links
   ========================================================================== */

a {
    text-decoration: none;
    color: $color-link;
    background: transparent; // remove the gray background color from active links in IE10

    // improve readability when focused and also mouse hovered in all browsers
    &:hover,
    &:active {
        outline: 0;
        text-decoration: underline;
        color: $color-link-hover;
    }

    &:focus {
        outline: thin dotted $color-link-hover;
    }

    &:visited {
        color: $color-link-visited;
    }
}

[role="complementary"] a,
footer a {
    color: #c7dbfa;

    &:hover,
    &:active {
        color: #e3edfc;
    }

    &:focus {
        outline: thin dotted #e3edfc;
    }

    &:visited {
        color: #c7dbfa;
    }
}
