/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 4. Expanded CSS level 3 `text-decoration` property in supported browsers,
 *    older browsers will fallback to legacy `text-decoration` property.
 */

a {
    color: $color-link; /* 1 */
    text-decoration: none; /* 2 */
    text-decoration-skip: ink edges; /* 3 */

    &:hover,
    &:active {
        outline: 0;
        color: $color-link-hover;
        text-decoration: underline;
        text-decoration: $color-link solid underline; /* 4 */
    }

    &:focus {
        outline: thin solid $color-link-focus;
    }
}

/**
 * Additional styling for links within complementary content and site footer.
 */

.complementary-content a:not(.button),
.site-footer a {
    color: $color-selecting;

    &:hover,
    &:active {
        color: $color-selected;
    }

    &:focus {
        outline: thin solid $color-selecting;
    }
}

/**
 * Images as links.
 *
 * Example HTML:
 *
 * <a class="a--img">
 *     <img>
 * </a>
 */

.a--img {
    img {
        border: solid 1px $color-border;
    }

    &:hover img {
        border-color: $color-link-hover;
    }

    &:focus {
        outline: 0;

        img {
            border-color: $color-link-focus;
        }
    }
}
