@use "../setup";

/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 4. Remove tap delay in modern browsers.
 */

a {
    color: var(--clr-a); /* 1 */
    text-decoration: none; /* 2 */
    text-decoration-skip-ink: auto; /* 3 */
    text-underline-offset: 0.125em;
    touch-action: manipulation; /* 4 */

    &:hover,
    &:active {
        color: var(--clr-a-interact);
        text-decoration: underline;
    }

    &:focus {
        outline: 1px solid var(--clr-a-focus);
    }
}

/**
 * Additional styling for heading links.
 *
 * 1. Expanded CSS level 3 `text-decoration-color` property in supported
 *    browsers, older browsers ignore this addition.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: var(--clr-text-promoted);

        &:hover,
        &:active {
            color: var(--clr-text-promoted);
            text-decoration-color: rgba(var(--clr-text-promoted), 0.5);  /* 1 */
        }
    }
}

/**
 * Additional styling for links within complementary content and site footer.
 */

.complementary-content a:not(.button),
.site-footer a {
    color: var(--clr-a-alt);

    &:hover,
    &:active {
        color: var(--clr-a-alt-interact);
    }
}

/**
 * Images as links.
 *
 * Example HTML:
 *
 * <a class="a--img">
 *     <img>
 * </a>
 */

.a--img {
    img {
        border: solid 1px var(--clr-brdr);
    }

    &:hover img {
        border-color: var(--clr-a-interact);
    }

    &:focus {
        outline: 0;

        img {
            border-color: var(--clr-a-focus);
        }
    }
}

/**
 * Visually hide unfocussed/inactive ‘skip links’.
 *
 * Example HTML:
 *
 * <a class="a--skip-link">
 */

.a--skip-link {
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    padding: 0.25em 0.5em;
    transform: translateY(-5em);
    transition: transform 0.25s ease-in-out;
    background-color: var(--clr-a-alt-interact);
    color: var(--clr-text);

    &:focus,
    &:active {
        transform: translateY(0);
    }
}

/**
 * Link group, with comfortable space between items.
 *
 * Example HTML:
 *
 * <p class="link-group">
 *     <a>Link 1
 *     <a>Link 2
 */

.link-group a {
    margin-right: 0.5rem;
}
