/* Links
   ========================================================================== */

a {
    text-decoration: none;
    color: $color-link;
    background: transparent; // remove the gray background color from active links in IE10

    // improve readability when focused and also mouse hovered in all browsers
    &:hover,
    &:active {
        outline: 0;
        text-decoration: underline;
        color: $color-link-hover;
    }

    &:focus {
        outline: thin dotted $color-link-focus;
    }

    &:visited {
        color: $color-link-visited;
    }
}

[role="complementary"] a,
footer a {
    color: $color-selecting;

    &:hover,
    &:active {
        color: $color-selected;
    }

    &:focus {
        outline: thin dotted $color-selected;
    }

    &:visited {
        color: $color-selecting;
    }
}

/* images as links */
.a--img {
    img {
        @include transition(box-shadow 0.2s linear);

    }

    &:focus {
        outline: 0;

        img {
            @include box-shadow(0 0 4px 2px $color-link-focus);
        }
    }
}

.no-boxshadow .a--img:focus {
    outline: thin dotted $color-link-focus;
}
