/* Lists
   ========================================================================== */

/**
 * Address paddings set differently.
 */

menu,
ol,
ul {
    padding: 0 0 0 2em;
}

/**
 * Remove margins from nested lists.
 */

li {
    > ul,
    > ol {
        margin: 0;
    }
}

/**
 * Style for definition lists.
 */

dl {
    padding-bottom: 1em;
    border-bottom: 1px solid $color-border-light;
}

dt {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-top: 1px solid $color-border-light;
    font-weight: bolder;

    code {
        border-color: $color-info-border;
        background-color: $color-info-background;
    }
}

dd {
    margin: 0 0 0 2em;
}

/**
 * Have a list with no bullets/numerals.
 *
 * Example HTML:
 *
 * <ul class="list--no-bullets">
 * <ol class="list--no-bullets">
 */

.list--no-bullets {
    padding: 0;
    list-style: none;
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 *
 * Example HTML:
 *
 * <ul class="list--numbered">
 */

.list--numbered {
    list-style-type: decimal;
}
