@use "../setup";

/* Miscellaneous
   ========================================================================== */

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <p class="accessibility">
 */

.accessibility {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0); // TODO: Deprecated - use `clip-path` when browser support is better.
    //clip-path: inset(50%); // TODO: Currently causes severe performance issues in Chrome.
    border: 0;
    white-space: nowrap;
}

/**
 * Hide completely.
 */

.not-shown {
    display: none;
}
