/* Miscellenaeous
   ========================================================================== */

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <p class="accessibility">
 */

.accessibility {
    position: absolute;
    left: -1000em;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
