/* Miscellenaeous
   ========================================================================== */

/**
 * AJAX spinners.
 *
 * Example HTML:
 *
 * <span class="spinner"></span>
 * <span class="spinner inverse"></span>
 */

span.spinner {
    @include hires-graphic(branding/misc/spinner, gif, 16px, 16px);

    display: inline-block;
    width: 16px;
    height: 16px;

    &.inverse {
        @include hires-graphic(branding/misc/spinner-inverse, gif, 16px, 16px);
    }
}

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <h1 class="accessibility">
 */

.accessibility {
    position: absolute;
    left: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
