/* Navigation
   ========================================================================== */

.nav-container {
    border-bottom: 2px solid $color-text;
}

.nav-collapse {
    font-family: $font-serif;

    .js & {
        clip: rect(0 0 0 0);
        max-height: 0;
        position: absolute;
        display: block;
        overflow: hidden;

        @include breakpoint($breakpoint-2) {
            position: relative;

            &.closed {
                max-height: none;
            }
        }
    }

    ul {
        list-style: none;
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: $container-max-width;

        @include breakpoint($breakpoint-2) {
            width: 90%;
        }
    }

    li {
        border-top: 1px solid $color-border;

        &:first-child {
            border-top: 2px solid $color-text;
        }

        @include breakpoint($breakpoint-2) {
            float: left;
            border: 0 !important;
        }
    }

    a {
        @include adjust-font-size-to(14px, 1);

        display: block;
        padding: 0.4285714em 5%; // 6px / 14px
        color: $color-text;
        font-weight: bold;

        &:hover,
        &:visited {
            color: $color-text;
            text-decoration: none;
        }

        &:hover {
            background-color: $color-selected;
        }

        &:active {
            color: darken($color-text, 10%);
            background-color: $color-selecting;
            text-decoration: none;
        }

        &:focus {
            outline: 0;
            background-color: $color-selected;
        }

        @include breakpoint($breakpoint-2) {
            @include adjust-font-size-to(20px, 1);
            @include border-radius($default-border-radius / 2);

            margin: 0 0.4em 0.4em -0.4em;
            padding: 0.4em;
            font-weight: normal;
        }
    }

    &.opened {
        max-height: 9999px;
    }
}

.nav-toggle {
    @include hide-text;
    @include border-radius;
    @include svg-graphic(/branding/misc/hamburger, png, 32px, 32px);

    -webkit-touch-callout: none; // disables the default bubble shown when you touch and hold a touch target
    position: absolute;
    top: 1em;
    right: 5%;
    z-index: 2;
    margin-top: 1px;
    border: 1px solid $color-border;
    width: 32px;
    height: 32px;

    @include breakpoint($breakpoint-2) {
        display: none;
    }

    &:hover {
        background-color: $color-selected;
    }

    &:active {
        background-color: $color-selecting;
    }
}
