/* Pagination links
   ========================================================================== */

.paginator {
    margin: 1em 0;
    border-top: 1px dashed $color-border;
    padding-top: 1em;

    strong {
        border: 1px solid $color-border;
        border-radius: 0.2307692em; // 3px / 13px
        padding: 0.2em 0.4em;
    }

    a {
        border: 1px solid $color-background;
        border-radius: 0.2307692em; // 3px / 13px
        padding: 0.2em 0.4em;

        &:hover {
            background-color: $color-selected;
        }

        &:active {
            color: darken($color-text, 10%);
            background-color: $color-selecting;
        }
    }
}
