/* Pagination links
   ========================================================================== */

/**
 * Paginator (prev/next) navigation links on article lists.
 *
 * Example HTML:
 *
 * <nav class="paginator">
 *     <a rel="prev">
 *     <a rel="next">
 */

.paginator {
    margin: 1.5em 0 1em;
    padding-top: 1em;
    border-top: 2px dashed $color-border;

    a,
    b {
        display: inline-block;
        padding: 0 0.1875em; // 3px / 16px
    }
}

/**
 * Consistent margins for paginator navigation links on non-blog article lists.
 *
 * Example HTML:
 *
 * <nav class="paginator paginate-articles">
 */

.paginate-articles {
    margin-bottom: 2.5em;
}

/**
 * Numerical pagination link lists.
 *
 * Example HTML:
 *
 * <ul class="pagination">
 *     <li class="current">
 *         <b title="Current page">1</b>
 *     </li>
 *     <li>
 *         <a title="Go to page 2">2</a>
 *     </li>
 *     <li>
 *         <a title="Go to page 3">3</a>
 *     </li>
 */

.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;

        &.current {
            background: $color-text;
            color: $color-text-white-out;
        }
    }

    a,
    b {
        min-width: 1.25em;
    }

    b {
        font-weight: normal;
        cursor: default;
    }
}

@include dark-mode {
    .pagination li.current {
        background: $dark-color-background-form;
    }
}
