@use "../setup";

/* Progress indicators
   ========================================================================== */

/**
 * 1. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    box-sizing: border-box;
    width: 100%;
    max-width: 10em; // 160px / 16px
    height: 0.75em;
    margin-right: 0.33em;
    border: 1px solid var(--color-border);
    background-color: var(--color-bkgd-box);
    vertical-align: baseline; /* 1 */
    appearance: none;
}

@include setup.dark-mode {
    progress {
        border-color: var(--color-border-extra-dark);
    }
}

// WebKit/Blink.

progress::-webkit-progress-bar {
    background-color: var(--color-bkgd-box);
}

progress::-webkit-progress-value {
    animation: progressbar-stripes linear 4s infinite;
    background-color: var(--color-highlight);
    background-image:
        linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.33) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.33) 50%,
            rgba(255, 255, 255, 0.33) 75%,
            transparent 75%,
            transparent
        );
    background-size: 24px 24px;
}

progress:indeterminate::-webkit-progress-bar {
    animation: progressbar-stripes linear 4s infinite;
    background-color: var(--color-border);
    background-image:
        linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0.25) 75%,
            transparent 75%,
            transparent
        );
    background-size: 24px 24px;
}

// Stop animation at 100% progress.

progress[value="1"]::-webkit-progress-value {
    background-image: none;
}

// Gecko/Quantum.

progress::-moz-progress-bar {
    animation: progressbar-stripes linear 4s infinite;
    background-color: var(--color-highlight);
    background-image:
        linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.33) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.33) 50%,
            rgba(255, 255, 255, 0.33) 75%,
            transparent 75%,
            transparent
        );
    background-size: 24px 24px;
}

progress:indeterminate::-moz-progress-bar {
    /* autoprefixer: off */
    animation: progressbar-stripes linear 4s infinite;
    background-color: var(--color-border);
    background-image:
        linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0.25) 75%,
            transparent 75%,
            transparent
        );
    background-size: 24px 24px;
}

// Stop animation at 100% progress.

progress[value="1"]::-moz-progress-bar {
    background-image: none;
}

/**
 * Numerical values alongside progress bars.
 */

.data-progress {
    display: inline-block;
    min-width: 2.75em;
    margin-right: 0.5em;
    font-size: setup.$small-font-size;
}

.data-progress[data-progress="100"] {
    background: var(--color-success-bkgd);
    color: var(--color-success-text);
}
