/* Progress indicators
   ========================================================================== */

/**
 * 1. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    width: 100%;
    max-width: 10em; // 160px / 16px
    height: 0.75em;
    margin-right: 0.33em;
    border: 1px solid $color-border;
    border-radius: 0.375em;
    vertical-align: baseline; /* 1 */
    appearance: none;
    box-sizing: border-box;
}

// WebKit/Blink.

progress::-webkit-progress-bar {
    background-color: #e7e7e7;
}

progress::-webkit-progress-value {
    background-color: $color-highlight;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.25) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 75%,
        transparent 75%,
        transparent
    );
    background-size: 24px 24px;
    animation: progressbar-stripes linear 4s infinite;
}

// Stop animation at 100% progress.
progress[value="1"]::-webkit-progress-value {
    background-image: none;
}

// Gecko/Quantum.

progress::-moz-progress-bar {
    background-color: $color-highlight;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.25) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 75%,
        transparent 75%,
        transparent
    );
    background-size: 24px 24px;
    animation: progressbar-stripes linear 4s infinite;
}

// Stop animation at 100% progress.
progress[value="1"]::-moz-progress-bar {
    background-image: none;
}

// Trident/EdgeHTML.

progress::-ms-fill {
    border: 0;
    background-color: $color-highlight;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.25) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 75%,
        transparent 75%,
        transparent
    );
    background-size: 24px 24px;
    /* autoprefixer: off */
    animation: progressbar-stripes linear 4s infinite;
}

// Stop animation at 100% progress.
progress[value="1"]::-ms-fill {
    background-image: none;
}

/**
 * Numerical values alongside progress bars.
 */

.data-progress {
    display: inline-block;
    min-width: 2.75em;
    margin-right: 0.5em;
    font-size: $small-font-size;
}

.data-progress[data-progress="100"] {
    background: $color-success-background;
    color: $color-success-text;
}
