/* ==========================================================================
   Styling and layout for screen media at 1st breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-1) {

    /**
     * Cells for 4 column layouts are generated, but as 2 columns at this width.
     */

    .layout-4col {
        width: 50%;
    }

    /**
     * Allow two columns of text.
     */

    .layout-text2col,
    .layout-text3col,
    .layout-text4col {
        column-gap: 2em;
        column-count: 2;

        :first-child {
            margin-top: 0;
        }
    }

    /**
     * Large search field on certain pages.
     */

    .search-hero input {
        font-size: 1.5em;
    }

}


/* ==========================================================================
   Styling and layout for screen media at 2nd breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-2) {

    /**
     * Cells for 2 column and 3 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-3col"></div>
     * <div class="layout-3col-2span"></div>
     */

    .layout-2col {
        width: 50%;
    }

    .layout-3col {
        width: 33.333%;
    }

    .layout-3col-2span {
        width: 66.666%;
    }

    /**
     * Allow three columns of text.
     */

    .layout-text3col,
    .layout-text4col {
        column-count: 3;
    }

    /**
     * Changes in styling for site header.
     */

    .masthead a {
        width: 320px;
        height: 52px;
        background-image: url("../img/branding/textpattern/textpattern.svg");
        background-size: 320px 52px;
    }

    /**
     * Changes in styling for search form.
     */

    .search-form {
        top: 0.75em;
        right: 0;

        input[type="search"] {
            width: 244px;
        }
    }

    /**
     * Large search field on certain pages.
     */

    .search-hero {
        padding: 1em 0;
    }

    .search-hero input {
        font-size: 1.75em;
    }

    /**
     * Changes in styling for navigation.
     */

    .site-navigation {
        font-family: $font-serif;

        .js & {
            max-height: none;
        }

        ul {
            width: 90%;
        }

        li {
            float: left;
            border: 0 !important;
        }

        a {
            margin: 0 0.35em 0.35em -0.35em;
            padding: 0 0.35em;
            border-radius: $border-radius / 2;
            font-size: 1.375em; // 22px / 16px
            font-weight: normal;
        }
    }

    .nav-toggle {
        display: none;
    }

    /**
     * Changes in styling for site footer.
     */

    .community-details,
    .host-details {
        display: block;
    }



}

@media screen and (max-width: $breakpoint-2) {

    /**
     * Changes in styling for search form.
     */

    .search-form {
        input[type="search"] {
            padding-right: 0;
            cursor: pointer;

            &:hover {
                background-color: #e3edfc;
            }

            &:focus {
                width: 244px;
                padding-right: 0.5384615em;
                background-color: $color-background;
                cursor: auto;
            }
        }
    }

    /**
     * Changes in styling for error messages.
     */

    .http-status-description {
        display: block;
    }

}


/* ==========================================================================
   Styling and layout for screen media at 3rd (final) breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-3) {

    /**
     * Adjust baseline.
     */

    html,
    h5,
    h6,
    pre,
    code,
    kbd,
    samp,
    small,
    figcaption,
    tfoot,
    .footnote,
    .footnotes {
        line-height: $line-height-desktop;
    }

    /**
     * Cells for 4 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-4col-3span"></div>
     * <div class="layout-4col"></div>
     */

    .layout-4col {
        width: 25%;
    }

    .layout-4col-2span {
        width: 50%;
    }

    .layout-4col-3span {
        width: 73%;
    }

    /**
     * Allow four columns of text.
     */

    .layout-text4col {
        column-count: 4;
    }

}

@media screen and (max-width: $breakpoint-3) {

    /**
     * Separator as linebreak until 3rd breakpoint.
     */

    .separator {
        margin: 0;
        visibility: hidden;

        &::after {
            white-space: pre;
            content: "\a";
        }
    }

}
