/* ==========================================================================
   Styling and layout for screen media at 1st breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-1) {

    /**
     * Cells for 4 column layouts are generated, but as 2 columns at this width.
     */

    .layout-4col {
        width: 50%;
    }

}

@media screen and (min-width: $breakpoint-1) {

    /**
     * Changes in styling for search form.
     */

    .search-form {
        right: 36px;
    }

}


/* ==========================================================================
   Styling and layout for screen media at 2nd breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-2) {

    /**
     * Cells for 2 column and 3 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-3col"></div>
     * <div class="layout-3col-2span"></div>
     */

    .layout-2col {
        width: 50%;
    }

    .layout-3col {
        width: 33.333%;
    }

    .layout-3col-2span {
        width: 66.666%;
    }

    /**
     * Changes in styling for site header.
     */

    .masthead a {
        width: 320px;
        height: 52px;
        background-image: url("../img/branding/textpattern/textpattern.svg");
        background-size: 320px 52px;
    }

    /**
     * Changes in styling for navigation.
     */

    .site-navigation {
        font-family: $font-serif;

        .js & {
            max-height: none;
        }

        ul {
            width: 90%;
        }

        li {
            float: left;
            border: 0 !important;
        }

        a {
            margin: 0 0.4em 0.4em -0.4em;
            padding: 0.4em;
            border-radius: $border-radius / 2;
            font-size: 1.5em; // 24px / 16px
            font-weight: normal;
        }
    }

    .nav-toggle {
        display: none;
    }

    /**
     * Changes in styling for site footer.
     */

    .community-details,
    .host-details {
        display: block;
    }

}

@media screen and (max-width: $breakpoint-2) {

    /**
     * Changes in styling for search form.
     */

    .search-form {
        top: 0;
        right: 48px;

        input[type="search"] {
            width: 34px;
            padding-right: 0;
            cursor: pointer;

            &:hover {
                background-color: #e3edfc;
            }

            &:focus {
                width: 240px;
                padding-right: 0.5384615em;
                background-color: $color-background;
                cursor: auto;
            }
        }
    }

    /**
     * Changes in styling for error messages.
     */

    .http-status-description {
        display: block;
    }

}


/* ==========================================================================
   Styling and layout for screen media at 3rd (final) breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-3) {

    /**
     * Cells for 4 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-4col-3span"></div>
     * <div class="layout-4col-alt"></div>
     */

    .layout-4col,
    .layout-4col-alt {
        width: 25%;
    }

    .layout-4col-2span {
        width: 50%;
    }

    .layout-4col-3span {
        width: 75%;
    }

}
