/* Social media
   ========================================================================== */

/**
 * Link list of social media channel icons.
 *
 * Example HTML:
 *
 * <ul class="social-channels">
 *     <li><a class="facebook">Facebook</a></li>
 *     <li><a class="googleplus">Google+</a></li>
 *     <li><a class="twitter">Twitter</a></li>
 * </ul>
 */

.social-channels {
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        margin-right: 0.5em;
    }

    a {
        @include hide-text;

        display: block;
        width: 32px;
        height: 32px;
        background-image: url("../img/branding/misc/icon-sprite.svg");
        background-size: 192px 32px;

        &:hover {
            filter: brightness(1.1);
        }

        &.facebook {
            background-position: -64px 0;
        }

        &.twitter {
            background-position: -96px 0;
        }

        &.googleplus {
            background-position: -128px 0;
        }

        &.github {
            background-position: -160px 0;
        }
    }
}
