/* Social media
   ========================================================================== */

.social-channels {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 0.5em;
    }

    a {
        @include hide-text;

        display: block;
        width: 32px;
        height: 32px;
        background-image: url("../img/branding/misc/icon-sprite.svg");
        background-size: 160px 32px;

        &.facebook {
            background-position: -32px 0;
        }

        &.twitter {
            background-position: -64px 0;
        }

        &.googleplus {
            background-position: -96px 0;
        }

        &:hover {
            @include filter(#{"brightness(1.1)"}); // temporary workaround for Sass/Compass bug when using @include filter(brightness(1.1));
        }
    }
}
