/* Social media
   ========================================================================== */

/**
 * Link list of social media channel icons.
 *
 * Example HTML:
 *
 * <ul class="social-channels">
 *     <li><a class="facebook">Facebook</a></li>
 *     <li><a class="googleplus">Google+</a></li>
 *     <li><a class="twitter">Twitter</a></li>
 * </ul>
 */

.social-channels {
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        margin-right: 0.5em;
    }

    a {
        @include hide-text;

        display: block;
        width: 32px;
        height: 32px;
        background-size: 32px 32px;

        &:hover {
            filter: brightness(1.1);
        }

        &.facebook {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Crect fill='%233b5998' width='32' height='32'/%3E%3Cpath fill='%23fff' d='M22,32V20h4l0.8-5H22v-3.3c0-1.4,0.5-2.4,2.5-2.4H27V5c-0.4-0.1-1.9-0.2-3.7-0.2c-3.7,0-6.3,2.3-6.3,6.4V15h-4v5h4v12H22z'/%3E%3C/svg%3E");
        }

        &.twitter {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Crect fill='%2300aced' width='32' height='32'/%3E%3Cpath fill='%23fff' d='M26.7,9.4c-0.8,0.3-1.6,0.6-2.5,0.7c0.9-0.5,1.6-1.4,1.9-2.4c-0.8,0.5-1.8,0.9-2.8,1c-0.8-0.9-1.9-1.4-3.2-1.4c-2.4,0-4.4,2-4.4,4.4c0,0.3,0,0.7,0.1,1c-3.6-0.2-6.9-1.9-9-4.6c-0.4,0.6-0.6,1.4-0.6,2.2c0,1.5,0.8,2.9,1.9,3.6c-0.7,0-1.4-0.2-2-0.5l0,0c0,2.1,1.5,3.9,3.5,4.3c-0.4,0.1-0.8,0.2-1.2,0.2c-0.3,0-0.6,0-0.8,0c0.6,1.7,2.2,3,4,3c-1.5,1.2-3.4,1.9-5.4,1.9c-0.4,0-0.7,0-1-0.1c1.9,1.2,4.2,2,6.7,2c8.1,0,12.5-6.7,12.5-12.5c0-0.2,0-0.4,0-0.6C25.3,11,26.1,10.3,26.7,9.4z'/%3E%3C/svg%3E");
        }

        &.googleplus {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Crect fill='%23de5145' width='32' height='32'/%3E%3Cpath fill='%23fff' d='M21.3,17v-2.1h2.8V12h2.1v2.8h2.5V17h-2.5v2.8h-2.1V17H21.3z'/%3E%3Cpath fill='%23fff' d='M19,14.9h-7.7v2.8h4.3c-0.7,2-1.6,3.3-4.1,3.3c-2.6,0-4.6-2.1-4.6-4.7c0-2.6,2-4.7,4.6-4.7c1.4,0,2.2,0.5,3.1,1.1c0.6-0.6,0.6-0.7,2.2-2.3c-1.4-1.3-3.3-2-5.3-2c-4.3,0-7.9,3.5-7.9,7.9c0,4.3,3.5,7.9,7.9,7.9C17.9,24.2,19.5,18.6,19,14.9z'/%3E%3C/svg%3E");
        }

        &.github {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Crect fill='%23fff' width='32' height='32'/%3E%3Cpath fill='%23171515' d='M16,4C9.4,4,4,9.4,4,16c0,5.3,3.4,9.8,8.2,11.4c0.6,0.1,0.8-0.3,0.8-0.6c0-0.3,0-1,0-2c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8c-1.1-0.7,0.1-0.7,0.1-0.7c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1c0.1-0.8,0.4-1.3,0.8-1.6C11.1,21,8.3,20,8.3,15.4c0-1.3,0.5-2.4,1.2-3.2C9.5,11.8,9,10.6,9.7,9c0,0,1-0.3,3.3,1.2c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4C21.3,8.7,22.3,9,22.3,9c0.7,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6C24.6,25.8,28,21.3,28,16C28,9.4,22.6,4,16,4z'/%3E%3C/svg%3E");
        }
    }
}
