@use "../setup";

/* Tables
   ========================================================================== */

/**
 * Allow overflow scroll on tables.
 *
 * Example HTML:
 *
 * <div class="tabular-data">
 *     <table></table>
 * </div>
 */

.tabular-data {
    margin-bottom: 1em;
    overflow-x: auto;

    &:focus {
        outline: thin solid var(--color-link-focus);
    }
}

/**
 * Consistent tables.
 */

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

/**
 * Styling of table captions.
 */

caption {
    margin-bottom: 0.5em;
    font-style: italic;
    text-align: left;
}

/**
 * Make table cells align top and left by default and include border.
 */

th,
td {
    min-width: 6em; // 96px / 16px
    padding: 0.5em; // 8px / 16px
    border: 1px solid var(--color-border-light);
    vertical-align: top;
    text-align: left;
}

/**
 * Emphasize table header.
 */

thead {
    tr {
        background-color: var(--color-grad-from);
    }

    th,
    td {
        border: 1px solid var(--color-border);
        color: var(--color-heading);
    }
}

/**
 * 'Zebra striping' of `tbody` rows.
 */

tbody {
    tr {
        &:nth-child(even) {
            background-color: var(--color-bkgd-box);
        }

        &.selected {
            background-color: var(--color-nav-hover-selected);
        }
    }

    th {
        font-weight: normal;
    }
}

/**
 * Adjust padding of table footer due to smaller font size.
 */

tfoot {
    th,
    td {
        padding: 0.6666667em; // 8px / 12px
    }
}

/**
 * Multi-row span vertical cell alignments.
 */

[rowspan] {
    vertical-align: middle;
}

/**
 * Range values right in numerical cells.
 *
 * Example HTML:
 *
 * <tr>
 *     <td></td>
 *     <td></td>
 *     <td class="numerical"></td>
 * </tr>
 */

.numerical {
    text-align: right;
}

/**
 * Set widths of `col` elements using classes whose numbers represent a percentage
 * width for that column - we leave one column free of a class so that column can
 * soak up the effects of any accidental breakage in the table.
 *
 * Example HTML:
 *
 * <table>
 *     <colgroup>
 *         <col class="t10">
 *         <col class="t10">
 *         <col class="t10">
 *         <col>
 *     </colgroup>
 */

.t5 { width: 5%; }
.t10 { width: 10%; }
.t12 { width: 12.5%; }       // 1/8
.t15 { width: 15%; }
.t20 { width: 20%; }
.t25 { width: 25%; }         // 1/4
.t30 { width: 30%; }
.t33 { width: 33.3333333%; } // 1/3
.t35 { width: 35%; }
.t37 { width: 37.5%; }       // 3/8
.t40 { width: 40%; }
.t45 { width: 45%; }
.t50 { width: 50%; }         // 1/2
.t55 { width: 55%; }
.t60 { width: 60%; }
.t62 { width: 62.5%; }       // 5/8
.t65 { width: 65%; }
.t66 { width: 66.6666667%; } // 2/3
.t70 { width: 70%; }
.t75 { width: 75%; }         // 3/4
.t80 { width: 80%; }
.t85 { width: 85%; }
.t87 { width: 87.5%; }       // 7/8
.t90 { width: 90%; }
.t95 { width: 95%; }
