@use "../setup";

/* Tables
   ========================================================================== */

/**
 * Allow overflow scroll on tables.
 *
 * Example HTML:
 *
 * <div class="tabular-data">
 *     <table></table>
 * </div>
 */

.tabular-data {
    margin-bottom: 1em;
    overflow-x: auto;

    &:focus {
        outline: thin solid var(--clr-focus);
    }
}

/**
 * Consistent tables.
 */

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

/**
 * Styling of table captions.
 */

caption {
    margin-bottom: 0.5em;
    font-style: italic;
    text-align: left;
}

/**
 * Make table cells align top and left by default and include border.
 */

th,
td {
    min-width: 6em; // 96px / 16px
    padding: 0.5em; // 8px / 16px
    border: 1px solid var(--clr-brdr-lite);
    vertical-align: top;
    text-align: left;
}

/**
 * Emphasize table header.
 */

thead {
    tr {
        background-color: var(--clr-grad-from);
    }

    th,
    td {
        border: 1px solid var(--clr-brdr);
        color: var(--clr-text-promoted);
    }
}

/**
 * 'Zebra striping' of `tbody` rows.
 */

tbody {
    tr {
        &:nth-child(even) {
            background-color: var(--clr-bkgd-box);
        }

        &.selected {
            background-color: var(--clr-nav-active);
        }
    }

    th {
        font-weight: 400;
    }
}

/**
 * Adjust padding of table footer due to smaller font size.
 */

tfoot {
    th,
    td {
        padding: 0.6666667em; // 8px / 12px
    }
}

/**
 * Multi-row span vertical cell alignments.
 */

[rowspan] {
    vertical-align: middle;
}

/**
 * Range values right in numerical cells.
 *
 * Example HTML:
 *
 * <tr>
 *     <td></td>
 *     <td></td>
 *     <td class="numerical"></td>
 * </tr>
 */

.numerical {
    text-align: right;
}

/**
 * Set widths of `col` elements using classes whose numbers represent a percentage
 * width for that column - we leave one column free of a class so that column can
 * soak up the effects of any accidental breakage in the table.
 *
 * Example HTML:
 *
 * <table>
 *     <colgroup>
 *         <col class="t10">
 *         <col class="t10">
 *         <col class="t10">
 *         <col>
 *     </colgroup>
 */

.t10 { width: 10%; }     // 1/10
.t20 { width: 20%; }     // 1/5
.t25 { width: 25%; }     // 1/4
.t33 { width: 33.333%; } // 1/3
.t50 { width: 50%; }     // 1/2
.t66 { width: 66.666%; } // 2/3
.t75 { width: 75%; }     // 3/4
.t80 { width: 80%; }     // 4/5
.t90 { width: 90%; }     // 9/10
