@use "../setup";

/* Typography
   ========================================================================== */

/**
 * Establish baseline.
 *
 * 1. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    font-size: setup.$base-font-size;
    line-height: setup.$line-height-mobile;
    text-size-adjust: 100%; /* 1 */
}

/**
 * Global font.
 *
 * 1. Enable font ligatures globally, where supported by OpenType fonts.
 */

body {
    font-family: var(--font-sans-serif);
    font-feature-settings: "liga"; /* 1 */
}

/**
 * Block-level text alignment/justification.
 *
 * Example HTML:
 *
 * <p class="align-left">
 * <p class="align-right">
 * <p class="align-center">
 * <p class="align-justify">
 */

address,
article,
aside,
blockquote,
dd,
details,
dialog,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
li,
main,
nav,
ol,
p,
pre,
section,
table,
ul {
    &.align-left {
        text-align: left;
    }

    &.align-right {
        text-align: right;
    }

    &.align-center {
        text-align: center;
    }

    &.align-justify {
        text-align: justify;
    }
}

/**
 * Harmonize size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6,
.article-description {
    clear: both;
    font-family: var(--font-serif);

    small {
        font-family: var(--font-sans-serif);
        font-size: 0.75em;
    }
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6, {
        color: var(--clr-text-promoted);
    }
}

h1,
h2,
h3 {
    letter-spacing: -0.25px;
}

h1 {
    margin: 0.6315789em 0; // 24px / 38px
    font-size: 2.375rem; // 38px / 16px
    line-height: 1.1842105; // 45px / 38px
}

h2 {
    margin: 0.8571429em 0; // 24px / 28px
    font-size: 1.75rem; // 28px / 16px
    line-height: 1.25; // 35px / 28px
}

h3 {
    margin: 1em 0; // 22px
    font-size: 1.375rem; // 22px / 16px
    line-height: 1.3181818; // 29px / 22px
}

h4,
.article-description {
    margin: 0.8888889em 0; // 16px / 18px
    font-size: 1.125rem; // 18px / 16px
    line-height: 1.4444444; // 26px / 18px
}

h5,
h6 {
    margin: 1em 0; // 16px
    font-size: 1rem;
    line-height: setup.$line-height-mobile;
}

/**
 * Call to action headings.
 *
 * Example HTML:
 *
 * <h1 class="cta">
 *     <span>Content</span>
 * </h1>
 *
 * Also see _responsive.scss
 */

.cta {
    margin-top: 0.6666667em;
    font-size: 1.5rem; // 24px / 16px
    line-height: 1.5;

    span {
        padding: 0 0.2em;
        background: var(--clr-hilite-enforced);
        color: var(--clr-text-black-enforced);
        box-decoration-break: clone;
    }
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Oxford English quote behaviour (quotes: ‘ ’, quotes within quotes: “ ”).
 */

q,
blockquote {
    quotes: "\2018" "\2019" "\201C" "\201D";
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    margin: 1em 0;
    padding: 1px 1em 1px 1.5em;
    border-left: 0.25em solid var(--clr-hilite);
    border-radius: 0 setup.$border-radius setup.$border-radius 0;
    background-color: var(--clr-hilite-box);
}

/**
 * Additional styling for examples (similar to blockquotes but no applied semantics).
 */

.example {
    padding: 1px 0 1px 1.5rem;
    border-left: 0.25rem solid var(--clr-info-brdr);
    color: var(--clr-text-demoted);
}

ol.example,
ul.example {
    padding: 1px 0 1px 3.25em;
}

ul.example {
    list-style: circle;
}

/**
 * 1. Remove the bottom border in Chrome 57+.
 * 2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
 */

abbr[title] {
    border-bottom: 0; /* 1 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Consistent styling for `mark` and `var` tags.
 */

mark,
var {
    padding: 0 0.25em; // 0 4px
    border-radius: setup.$border-radius / 2;
    background: var(--clr-hilite-box);
    color: var(--clr-text);
}

/**
 * Harmonize size and style of computer text.
 *
 * 1. Don't use ligatures on monospace font.
 */

pre,
code,
kbd,
samp {
    border: 1px solid var(--clr-brdr-x-lite);
    border-radius: 0.2857143em; // 4px / 14px
    background-color: var(--clr-bkgd-box);
    color: var(--clr-text);
    font-family: var(--font-monospaced);
    font-feature-settings: normal; /* 1 */
    font-size: setup.$code-font-size;
    line-height: setup.$line-height-mobile;
}

code,
kbd,
samp {
    padding: 1px 0.2142857em; // 3px / 14px
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Contain overflow in all browsers.
 * 2. Don't wrap long words.
 * 3. Set tab size to 4 spaces.
 */

pre {
    padding: 0.5714286em 1.1428571em; // 8px / 14px + 16px / 14px
    overflow-x: auto; /* 1 */
    word-wrap: normal; /* 2 */
    tab-size: 4; /* 3 */

    code {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1em; // 14px
        hyphens: none;
        word-wrap: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: pre;
    }
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */

sub,
sup.footnote, // override Textile class
sup {
    position: relative;
    font-size: 0.75em; // 12px / 16px
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Harmonize size and style of small text.
 */

small,
figcaption,
tfoot,
blockquote footer,
.footnote,
.footnotes,
.card-header,
.card-footer {
    font-size: setup.$small-font-size;
    line-height: setup.$line-height-mobile;
}

figcaption {
    margin: 0.5em 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 24px;
    overflow: visible; /* 2 */
    border: 0; // remove the default `hr` border
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 24'%3E%3Cpath fill='%23333' d='M0,0c1.742,13.61,54.74,20.912,119.995,15.279C184.922,9.679,238.594,13.024,240,24c-1.744-13.613-54.742-20.913-120.005-15.284C55.078,14.32,1.405,10.973,0,0z'/%3E%3C/svg%3E") 50% 50% no-repeat;
    background-size: 240px 24px;
}

@include setup.dark-mode {
    hr {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 24'%3E%3Cpath fill='%23ced4da' d='M0,0c1.742,13.61,54.74,20.912,119.995,15.279C184.922,9.679,238.594,13.024,240,24c-1.744-13.613-54.742-20.913-120.005-15.284C55.078,14.32,1.405,10.973,0,0z'/%3E%3C/svg%3E") 50% 50% no-repeat;
    }
}

/**
 * Separator pipe between textual elements.
 *
 * Example HTML:
 *
 * <span class="separator" role="separator">|</span>
 *
 * Also see _responsive.scss
 */

.separator {
    margin: 0 0.25em;
    color: var(--clr-text-demoted);
}

/**
 * Overflow text with ellipsis.
 *
 * Example HTML:
 *
 * <p class="ellipsis">
 *
 * <ul class="ellipsis">
 *     <li></li>
 */

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;

    li {
        overflow: inherit;
        text-overflow: inherit;
    }
}
