/* Typography
   ========================================================================== */

/**
 * Establish baseline.
 */

html {
    font-size: $base-font-size;
    line-height: $line-height-mobile;
}

/**
 * Global font.
 *
 * 1. Enable font ligatures globally, where supported by OpenType fonts.
 */

body {
    font-family: $font-sans-serif;
    font-feature-settings: "liga"; /* 1 */
}

/**
 * Harmonize size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6,
.article-description {
    clear: both;
    font-family: $font-serif;
}

h1 {
    margin: 0.6315789em 0; // 24px / 38px
    font-size: 2.375em; // 38px / 16px
    line-height: 1.1842105; // 45px / 38px
}

h2 {
    margin: 0.8571429em 0; // 24px / 28px
    font-size: 1.75em; // 28px / 16px
    line-height: 1.25; // 35px / 30px
}

h3 {
    margin: 1em 0; // 22px
    font-size: 1.375em; // 22px / 16px
    line-height: 1.3181818; // 29px / 22px
}

h4,
.article-description {
    margin: 1em 0; // 18px
    font-size: 1.125em; // 18px / 16px
    line-height: 1.4444444; // 26px / 18px
}

h5,
h6 {
    margin: 1em 0; // 16px
    font-size: 1em;
    line-height: $line-height-mobile;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    margin: 1em 0;
    padding: 0 0 0 1em;
    border-left: 4px solid $color-highlight;
}

/**
 * 1. Remove the bottom border in Firefox.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: 0; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font style.
 */

dfn {
    font-style: italic;
}

/**
 * Consistent styling for `mark` and `var` tags.
 */

mark,
var {
    padding: 0 0.25em; // 0 4px
    border-radius: $border-radius / 2;
    background: $color-selected;
    color: $color-text;
}

/**
 * Harmonize size and style of computer text.
 */

pre,
code,
kbd,
samp {
    border: 1px solid lighten($color-border, 9%);
    border-radius: 0.2857143em; // 4px / 14px
    background-color: $color-background-box;
    color: $color-text;
    font-family: $font-code;
    font-size: $code-font-size;
    line-height: $line-height-mobile;
}

code,
kbd,
samp {
    padding: 1px 0.2142857em; // 3px / 14px
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Don't wrap long words.
 * 2. Contain overflow in all browsers.
 * 3. Set tab size to 4 spaces.
 */

pre {
    padding: 0.5714286em 1.1428571em; // 8px / 14px + 16px / 14px
    word-wrap: normal; /* 1 */
    overflow-x: auto; /* 2 */
    tab-size: 4; /* 3 */

    code {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1em; // 14px
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        direction: ltr;
        hyphens: none;
    }
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
// override Textile class
sup.footnote,
sup {
    position: relative;
    font-size: 0.625em; // 10px / 16px
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Harmonize size and style of small text.
 */

small,
figcaption,
tfoot,
.footnote,
.footnotes {
    font-size: $small-font-size;
    line-height: $line-height-mobile;
}

figcaption {
    margin: 0.5em 0;
    font-style: italic;
}

/**
 * 1. Show the overflow in Edge and IE.
 * 2. Add the correct box sizing in Firefox.
 */

hr {
    height: 24px;
    border: 0; // remove the default `hr` border
    background: url("../img/com/hr.svg") 50% 50% no-repeat;
    background-size: 240px 24px;
    overflow: visible; /* 1 */
    box-sizing: content-box; /* 2 */
}
