/* Typography
   ========================================================================== */

/**
 * Global font size and leading.
 */

@include establish-baseline;

/**
 * Global font.
 */

body {
    font-family: $font-sans-serif;
}

/**
 * Harmonise size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6,
.article-description {
    clear: both;
    font-family: $font-serif;
}

h1 {
    @include adjust-font-size-to(36px, 2);

    margin: rhythm(1, 40px) 0;
}

h2 {
    @include adjust-font-size-to(30px, 1.75);

    margin: rhythm(1, 32px) 0;
}

h3 {
    @include adjust-font-size-to(24px, 1.4);

    margin: rhythm(1, 24px) 0;
}

h4 {
    @include adjust-font-size-to(18px, 1.2);

    margin: rhythm(1, 20px) 0;
}

h5,
.article-description {
    @include adjust-font-size-to(16px, 1.1);

    margin: rhythm(1, 20px) 0;
}

h6 {
    @include adjust-font-size-to(14px, 1);

    margin: rhythm(1, 20px) 0;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    margin: 1em 0;
    border-left: 4px solid $color-accent-gradient-to;
    padding: 0 0 0 1em;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address styling not present in IE 9/10/11, Safari, and Chrome.
 */

abbr[title],
dfn[title] {
    border-bottom: dotted 1px;
    cursor: help;
}

/**
 * Address styling not present in IE 9.
 */

mark,
var {
    border-radius: 0.2307692em; // 3px / 13px
    padding: 1px 0.2307692em; // 3px / 13px
    color: $color-text;
    background: $color-selected;
}

/**
 * Harmonise size and style of computer text.
 */

pre,
code,
kbd,
samp {
    @include adjust-font-size-to(12px, 0.9);

    border: 1px solid lighten($color-border, 9%);
    border-radius: 0.25em; // 3px / 12px
    font-family: $font-mono;
    color: $color-text;
    background-color: $color-background-box;
}

code,
kbd,
samp {
    padding: 1px 0.25em;
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Don't wrap long words.
 * 2. Contain overflow in all browsers.
 * 3. Set tab size to 4 spaces.
 */

pre {
    word-wrap: normal; /* 1 */
    overflow-x: auto; /* 2 */
    margin: 1.0833333em 0; // 13px / 12px
    padding: 0.5833333em 1.0833333em; // 7px / 12px + 13px / 12px
    tab-size: 4; /* 3 */

    code {
        font-size: 1em; // 12px
        border: 0;
        padding: 0;
        background-color: transparent;
    }
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup.footnote, // override Textile class
sup {
    @include adjust-font-size-to(9px, 0);

    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.3333333em;
}

/**
 * Harmonise size and style of small text.
 */

small,
figcaption,
tfoot,
.footnote {
    @include adjust-font-size-to(11px, 0.8);
}

figcaption,
tfoot,
.footnote {
    color: $color-text-footnote;
}

figcaption {
    margin-top: 0.5em;
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    @include box-sizing(content-box);

    border: 0; // remove the default `hr` border
    height: 24px;
    background: url("../img/com/hr.svg") 50% 50% no-repeat;
    background-size: 240px 24px;
}
