/* Typography
   ========================================================================== */

/**
 * Establish baseline.
 */

html {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

/**
 * Global font.
 */

body {
    font-family: $font-sans-serif;
}

/**
 * Harmonise size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6,
.article-description {
    clear: both;
    font-family: $font-serif;
}

h1 {
    @include adjust-font-size-to(36px, 2);

    margin: rhythm(1, 40px) 0;
}

h2 {
    @include adjust-font-size-to(30px, 1.75);

    margin: rhythm(1, 32px) 0;
}

h3 {
    @include adjust-font-size-to(24px, 1.4);

    margin: rhythm(1, 24px) 0;
}

h4 {
    @include adjust-font-size-to(18px, 1.2);

    margin: rhythm(1, 20px) 0;
}

h5,
.article-description {
    @include adjust-font-size-to(16px, 1.1);

    margin: rhythm(1, 20px) 0;
}

h6 {
    @include adjust-font-size-to(14px, 1);

    margin: rhythm(1, 20px) 0;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
    font-style: normal;
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    margin: 1em 0;
    border-left: 4px solid $color-accent-gradient-to;
    padding: 0 0 0 1em;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address styling not present in Safari and Chrome.
 */

abbr[title],
dfn[title] {
    text-decoration: dotted underline;
    cursor: help;
}

/**
 * Consistent styling for `mark` and `var` tags.
 */

mark,
var {
    padding: 0 0.25em; // 0 4px
    border-radius: $border-radius / 2;
    background: $color-selected;
    color: $color-text;
}

/**
 * Harmonize size and style of computer text.
 */

pre,
code,
kbd,
samp {
    border: 1px solid lighten($color-border, 9%);
    border-radius: 0.2857143em; // 4px / 14px
    background-color: $color-background-box;
    color: $color-text;
    font-family: $font-code;
    font-size: $code-font-size;
    line-height: $base-line-height;
}

code,
kbd,
samp {
    padding: 1px 0.2142857em; // 3px / 14px
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Don't wrap long words.
 * 2. Contain overflow in all browsers.
 * 3. Set tab size to 4 spaces.
 */

pre {
    padding: 0.5714286em 1.1428571em; // 8px / 14px + 16px / 14px
    word-wrap: normal; /* 1 */
    overflow-x: auto; /* 2 */
    tab-size: 4; /* 3 */

    code {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1em; // 14px
    }
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
// override Textile class
sup.footnote,
sup {
    position: relative;
    font-size: 0.625em; // 10px / 16px
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Harmonize size and style of small text.
 */

small,
figcaption,
tfoot,
.footnote {
    font-size: $small-font-size;
    line-height: $base-line-height;
}

figcaption,
tfoot,
.footnote {
    color: $color-text-footnote;
}

figcaption {
    margin-top: 0.5em;
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    height: 24px;
    border: 0; // remove the default `hr` border
    background: url("http://static2.designhive.com/assets/img/hr.svg") 50% 50% no-repeat;
    background-size: 240px 24px;
    box-sizing: content-box;
}
