//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* Typography
   ========================================================================== */

@include establish-baseline;

body {
	font-family: $font-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font-serif;
}

h1 {
	@include adjust-font-size-to(40px, 2);

	margin: rhythm(1, 40px) 0;
}

h2 {
	@include adjust-font-size-to(32px, 1.6666667);

	margin: rhythm(1, 32px) 0;
}

h3 {
	@include adjust-font-size-to(24px, 1.3333333);

	margin: rhythm(1, 24px) 0;
}

h4 {
	@include adjust-font-size-to(20px, 1.1666667);

	margin: rhythm(1, 20px) 0;
}

/* address style set to `bolder` in Firefox4+, Safari5, and Chrome */
b,
strong { 
	font-weight: bold; 
}

address {
	margin: 1em 0;
}

blockquote {
	@include adjust-font-size-to(18px, 1.08);

	font-family: $font-serif;
	font-style: italic;
	margin: 0.7777778em 0; // 14px / 18px
	border-left: 3px solid $color-border;
	padding: 0 0 0 0.7777778em; // 14px / 18px
}

/* set consistent quote types */
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

/* address styling not present in Safari5 and Chrome */
dfn {
	font-style: italic;
}

/* address styling not present in IE8-9, Safari5, Chrome */
abbr[title],
dfn[title] {
	border-bottom: dotted 1px;
	cursor: help;
}

mark,
var {
	@include border-radius(0.2142857em); // 3px / 14px

	padding: 0em 0.2142857em; // 3px / 14px
	color: $color-text;
	background: $color-highlight-box;
}

pre,
code,
kbd,
samp {
	font-family: $font-mono;
}

code,
kbd,
samp {
    @include adjust-font-size-to(13px, 0.95);
	@include border-radius(0.2307692em); // 3px / 13px

	border: 1px solid lighten($color-border, 9%);
	padding: 0.1538462em 0.2307692em; // 2px / 13px + 3px / 13px
	background: $color-background-box;
}

pre {
    @include adjust-font-size-to(13px, 0.95);
	@include border-radius(0.2307692em); // 3px / 13px

	overflow-x: auto;
	border: 1px solid lighten($color-border, 9%);
	padding: 1em;
	background: $color-background-box;
	tab-size: 4; // set tab size to 4 spaces

	code {
        font-size: 1em; // 13px
		border: 0;
		padding: 0;
		background: none;
	}
}

/* prevent `<sub>` and `<sup>` affecting line height in all browsers */
sub,
sup {
	@include adjust-font-size-to(10px, 0);

	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.2857142em;
}

small,
figcaption,
tfoot,
.footnote {
	@include adjust-font-size-to(12px, 0.9);
}

figcaption,
tfoot,
.footnote {
	color: $color-text-footnote;
}

figcaption {
	margin-top: 0.5em;
	font-style: italic;
}
