/* Typography
   ========================================================================== */

/**
 * Establish baseline.
 */

html {
    font-size: $base-font-size;
    line-height: $line-height-mobile;
}

/**
 * Global font.
 *
 * 1. Enable font ligatures globally, where supported by OpenType fonts.
 */

body {
    font-family: $font-sans-serif;
    font-feature-settings: "liga"; /* 1 */
}

/**
 * Harmonize size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6,
.article-description {
    clear: both;
    font-family: $font-serif;
}

h1 {
    margin: 0.6315789em 0; // 24px / 38px
    font-size: 2.375em; // 38px / 16px
    line-height: 1.1842105; // 45px / 38px
}

h2 {
    margin: 0.8571429em 0; // 24px / 28px
    font-size: 1.75em; // 28px / 16px
    line-height: 1.25; // 35px / 28px
}

h3 {
    margin: 1em 0; // 22px
    font-size: 1.375em; // 22px / 16px
    line-height: 1.3181818; // 29px / 22px
}

h4,
.article-description {
    margin: 0.8888889em 0; // 16px / 18px
    font-size: 1.125em; // 18px / 16px
    line-height: 1.4444444; // 26px / 18px
}

h5,
h6 {
    margin: 1em 0; // 16px
    font-size: 1em;
    line-height: $line-height-mobile;
}

/**
 * Call to action headings.
 *
 * Example HTML:
 *
 * <h1 class="cta">
 *     <span>Content</span>
 * </h1>
 *
 * Also see _responsive.scss
 */

.cta {
    margin-top: 0.6666667em;
    font-size: 1.5em; // 24px / 16px
    line-height: 1.5;

    span {
        padding: 0 0.2em;
        background: $color-highlight;
        color: $color-text;
        box-decoration-break: clone;
    }
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    margin: 1em 0;
    padding: 1px 1em 1px 1.5em;
    border-left: 0.25em solid $color-highlight;
    background-color: $color-highlight-box;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: 0; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Consistent styling for `mark` and `var` tags.
 */

mark,
var {
    padding: 0 0.25em; // 0 4px
    border-radius: $border-radius / 2;
    background: $color-selected;
    color: $color-text;
}

/**
 * Harmonize size and style of computer text.
 *
 * 1. Don't use ligatures on monospace font.
 */

pre,
code,
kbd,
samp {
    border: 1px solid lighten($color-border, 9%);
    border-radius: 0.2857143em; // 4px / 14px
    background-color: $color-background-box;
    color: $color-text;
    font-family: $font-code;
    font-size: $code-font-size;
    line-height: $line-height-mobile;
    font-feature-settings: normal; /* 1 */
}

code,
kbd,
samp {
    padding: 1px 0.2142857em; // 3px / 14px
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Don't wrap long words.
 * 2. Contain overflow in all browsers.
 * 3. Set tab size to 4 spaces.
 */

pre {
    padding: 0.5714286em 1.1428571em; // 8px / 14px + 16px / 14px
    word-wrap: normal; /* 1 */
    overflow-x: auto; /* 2 */
    tab-size: 4; /* 3 */

    code {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1em; // 14px
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        direction: ltr;
        hyphens: none;
    }
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
// override Textile class
sup.footnote,
sup {
    position: relative;
    font-size: 0.625em; // 10px / 16px
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Harmonize size and style of small text.
 */

small,
figcaption,
tfoot,
.footnote,
.footnotes {
    font-size: $small-font-size;
    line-height: $line-height-mobile;
}

figcaption {
    margin: 0.5em 0;
}

/**
 * 1. Show the overflow in Edge and IE.
 * 2. Add the correct box sizing in Firefox.
 */

hr {
    height: 24px;
    margin: 1em 0;
    border: 0; // remove the default `hr` border
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' height='24' viewBox='0 0 240 24'%3E%3Cpath fill='%23333' d='M0,0c1.742,13.61,54.74,20.912,119.995,15.279C184.922,9.679,238.594,13.024,240,24c-1.744-13.613-54.742-20.913-120.005-15.284C55.078,14.32,1.405,10.973,0,0z'/%3E%3C/svg%3E") 50% 50% no-repeat;
    background-size: 240px 24px;
    overflow: visible; /* 1 */
    box-sizing: content-box; /* 2 */
}

/**
 * Separator pipe between textual elements.
 *
 * Example HTML:
 *
 * <span class="separator" role="separator">|</span>
 *
 * Also see _responsive.scss
 */

.separator {
    margin: 0 0.25em;
    color: lighten($color-text, 30%);
}

/**
 * Overflow text with ellipsis.
 *
 * Example HTML:
 *
 * <p class="ellipsis">
 *
 * <ul class="ellipsis">
 *     <li></li>
 */

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

ul,
ol {
    &.ellipsis li {
        text-overflow: inherit;
        overflow: inherit;
    }
}
