// import global variables
@import "setup/settings";

// import any additional mixins
@import "setup/helpers";

// import colourscheme
@import "setup/colours";



/* ==========================================================================
   ONLY for use in design patterns - classes NOT USED in actual site builds.
   ========================================================================== */

/**
 * Make sure code examples use black text within information blocks.
 */

.information code {
    color: $color-text;
}


/* Colour palette.
   ========================================================================== */

/**
 * Generate the colour swatches dynamically.
 *
 * More info: http://www.guyroutledge.co.uk/blog/style-guide-colours-with-sass/
 */

$colors: (
    "text":                 $color-text,
    "text-footnote":        $color-text-footnote,
    "gradient-from":        $color-gradient-from,
    "gradient-to":          $color-gradient-to,
    "gradient-border":      $color-gradient-border,
    "border":               $color-border,
    "link":                 $color-link,
    "link-hover":           $color-link-hover,
    "link-focus":           $color-link-focus,
    "link-selecting":       $color-selecting,
    "link-selected":        $color-selected,
    "background":           $color-background,
    "background-box":       $color-background-box,
    "highlight-box":        $color-highlight-box,
    "strong-highlight-box": $color-strong-highlight-box,
    "highlight":            $color-highlight,
    "success-text":         $color-success-text,
    "success-background":   $color-success-background,
    "warning-text":         $color-warning-text,
    "warning-background":   $color-warning-background,
    "error-text":           $color-error-text,
    "error-background":     $color-error-background,
    "info-text":            $color-info-text,
    "info-background":      $color-info-background
);

.design-patterns--color {
    display: block;
    position: relative;
    height: 2.375em; // 38px / 16px
    margin: 1em 0;
    border: 1px solid $color-border;

    &::after {
        position: absolute;
        top: 0.5em;
        padding: 1px 0.2142857em; // 3px / 14px
        background-color: rgba(255, 255, 255, 0.66);
        font-family: $font-code;
        font-size: $code-font-size;
    }
}

@each $name, $color in $colors {
    .design-patterns--color-#{$name} {
        background: $color;

        &::after {
            content: "#{$color}";
        }
    }
}


/* Layout grid examples.
   ========================================================================== */

.design-patterns--box {
    margin-top: 0;
    padding: 1em;
    background: #aaaaaa;
}

/**
 * Ensure information blocks clear any preceding grid cell floats.
 */

#section-grid .information {
    clear: both;
}


/* jQuery UI styling specific to design patterns.
   ========================================================================== */

/**
 * The list of all available icons.
 */

.jquery-ui-icons li {
    position: relative;
    margin: 2px;
    padding: 4px 0;
    float: left;
    list-style: none;
    cursor: pointer;
}

.jquery-ui-icons .ui-icon {
    margin: 0 4px;
    float: left;
}

/**
 * The vertical slider example.
 */

.jquery-ui-slider-vertical span {
    height: 120px;
    margin: 15px;
    float: left;
}

/**
 * Declare a width for jQuery UI menus.
 */

.ui-menu {
    width: 10em;
}

/**
 * Absolute positioning for miscellaneous jQuery UI menus.
 */

.ui-menu:not(.jquery-ui-menu) {
    position: absolute;
    z-index: 1000;
}


/* Breakpoint indicator.
   ========================================================================== */

/**
 * Visually show which breakpoint is currently active.
 *
 * Example HTML:
 *
 * <ol class="design-patterns--breakpoints list--no-bullets clearfix">
 *     <li class="design-patterns--breakpoint-0">No breakpoint</li>
 *     <li class="design-patterns--breakpoint-1">Breakpoint 1</li>
 *     <li class="design-patterns--breakpoint-2">Breakpoint 2</li>
 *     <li class="design-patterns--breakpoint-3">Breakpoint 3</li>
 * </ol>
 */

.design-patterns--breakpoints li {
    float: left;
}

.design-patterns--breakpoint-0,
.design-patterns--breakpoint-1,
.design-patterns--breakpoint-2,
.design-patterns--breakpoint-3 {
    padding: 0.5em;
    background-color: #ff0000;
    color: #ffffff;
}

.design-patterns--breakpoint-1,
.design-patterns--breakpoint-2,
.design-patterns--breakpoint-3 {
    display: none;
}

@media (min-width: $breakpoint-1) {
    .design-patterns--breakpoint-0 {
        display: none;
    }

    .design-patterns--breakpoint-1 {
        display: block;
    }
}

@media (min-width: $breakpoint-2) {
    .design-patterns--breakpoint-1 {
        display: none;
    }

    .design-patterns--breakpoint-2 {
        display: block;
    }
}

@media (min-width: $breakpoint-3) {
    .design-patterns--breakpoint-2 {
        display: none;
    }

    .design-patterns--breakpoint-3 {
        display: block;
    }
}
