@use "setup";

/* ==========================================================================
   ONLY for use in design patterns - classes NOT USED in actual site builds.
   ========================================================================== */

body {
    background-color: var(--clr-bkgd);
    color: var(--clr-text);
}

main {
    padding: 0 5% 1em;

    .layout-4col-3span {
        margin-bottom: 0;
    }
}

.section {
    padding-top: 1em;
}

/**
 * Make sure code examples use black text within information blocks.
 */

.information code {
    color: var(--clr-text);
}


/* Colour palette.
   ========================================================================== */

/**
 * Generate the colour swatches dynamically.
 */

$colors: (
    "text-promoted":      var(--clr-text-promoted),
    "text":               var(--clr-text),
    "text-demoted":       var(--clr-text-demoted),
    "grad-from":          var(--clr-grad-from),
    "grad-to":            var(--clr-grad-to),
    "brdr-x-lite":        var(--clr-brdr-x-lite),
    "brdr-lite":          var(--clr-brdr-lite),
    "brdr":               var(--clr-brdr),
    "brdr-dark":          var(--clr-brdr-dark),
    "brdr-x-dark":        var(--clr-brdr-x-dark),
    "a":                  var(--clr-a),
    "a-interact":         var(--clr-a-interact),
    "focus":              var(--clr-focus),
    "nav-interact":       var(--clr-nav-interact),
    "nav-active":         var(--clr-nav-active),
    "bkgd":               var(--clr-bkgd),
    "bkgd-box":           var(--clr-bkgd-box),
    "hilite-box":         var(--clr-hilite-box),
    "strong-hilite-box":  var(--clr-strong-hilite-box),
    "hilite":             var(--clr-hilite),
    "success-text":       var(--clr-success-text),
    "success-bkgd":       var(--clr-success-bkgd),
    "warning-text":       var(--clr-warning-text),
    "warning-bkgd":       var(--clr-warning-bkgd),
    "error-text":         var(--clr-error-text),
    "error-bkgd":         var(--clr-error-bkgd),
    "info-text":          var(--clr-info-text),
    "info-bkgd":          var(--clr-info-bkgd)
);

.design-patterns--color {
    display: block;
    height: 2.375em; // 38px / 16px
    margin: 1em 0;
    border: 1px solid var(--clr-brdr);
}

@each $name, $color in $colors {
    .design-patterns--clr-#{$name} {
        background: $color;
    }
}


/* Layout grid examples.
   ========================================================================== */

.design-patterns--box {
    margin-top: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.33);
}

/**
 * Ensure information blocks clear any preceding grid cell floats.
 */

#section-grid .information {
    clear: both;
}


/* Breakpoint indicator.
   ========================================================================== */

/**
 * Visually show which breakpoint is currently active.
 *
 * Example HTML:
 *
 * <ol class="design-patterns--breakpoints list--no-bullets">
 *     <li class="design-patterns--breakpoint-0">No breakpoint</li>
 *     <li class="design-patterns--breakpoint-1">Breakpoint 1</li>
 *     <li class="design-patterns--breakpoint-2">Breakpoint 2</li>
 *     <li class="design-patterns--breakpoint-3">Breakpoint 3</li>
 * </ol>
 */

.design-patterns--breakpoint-0,
.design-patterns--breakpoint-1,
.design-patterns--breakpoint-2,
.design-patterns--breakpoint-3 {
    padding: 0.5em;
    background-color: #ff0000;
    color: #ffffff;
}

.design-patterns--breakpoint-0 {
    display: inline-block;
}

.design-patterns--breakpoint-1,
.design-patterns--breakpoint-2,
.design-patterns--breakpoint-3 {
    display: none;
}

@media (min-width: setup.$breakpoint-1) {
    .design-patterns--breakpoint-0 {
        display: none;
    }

    .design-patterns--breakpoint-1 {
        display: inline-block;
    }
}

@media (min-width: setup.$breakpoint-2) {
    .design-patterns--breakpoint-1 {
        display: none;
    }

    .design-patterns--breakpoint-2 {
        display: inline-block;
    }
}

@media (min-width: setup.$breakpoint-3) {
    .design-patterns--breakpoint-2 {
        display: none;
    }

    .design-patterns--breakpoint-3 {
        display: inline-block;
    }

    /**
     * Fixed sidebar.
     */

    main {
        padding: 0;
    }

    .docs-menu {
        position: fixed;
        z-index: 2000;
        top: 0;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        width: 29%;
        padding: 0.5em 2%;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid var(--clr-brdr);
        background-color: var(--clr-bkgd-box);
        box-shadow: inset -0.25em 0 0.25em -0.25em rgba(0, 0, 0, 0.2);
    }

    .docs-content {
        margin-left: 29%;
        padding: 1px 4% 1em;
    }

    .docs-content-container {
        max-width: setup.$container-max-width;
        margin: 0 auto;
    }
}

@media (prefers-color-scheme: dark) and (min-width: setup.$breakpoint-3) {
    .docs-menu {
        border-right-color: var(--clr-brdr-x-dark);
    }
}
