// import global variables
@import "core/settings";

// import Compass, Compass Plugins and any additional mixins
@import "core/helpers";

// import colourscheme
@import "core/colours";



/* ==========================================================================
   ONLY for use in design patterns - classes NOT USED in actual site builds.
   ========================================================================== */

/**
 * Make sure code examples use black text within information blocks.
 */

.information code {
    color: $color-text;
}


/* Colour palette.
   ========================================================================== */

/**
 * Generate the colour swatches dynamically.
 *
 * More info: http://www.guyroutledge.co.uk/blog/style-guide-colours-with-sass/
 */

$colors: (
    'text':                 $color-text,
    'text-footnote':        $color-text-footnote,
    'gradient-from':        $color-gradient-from,
    'gradient-to':          $color-gradient-to,
    'gradient-border':      $color-gradient-border,
    'border':               $color-border,
    'link':                 $color-link,
    'link-hover':           $color-link-hover,
    'link-focus':           $color-link-focus,
    'link-visited':         $color-link-visited,
    'link-selecting':       $color-selecting,
    'link-selected':        $color-selected,
    'background':           $color-background,
    'background-box':       $color-background-box,
    'highlight-box':        $color-highlight-box,
    'strong-highlight-box': $color-strong-highlight-box,
    'accent-gradient-from': $color-accent-gradient-from,
    'accent-gradient-to':   $color-accent-gradient-to,
    'success-text':         $color-success-text,
    'success-background':   $color-success-background,
    'warning-text':         $color-warning-text,
    'warning-background':   $color-warning-background,
    'error-text':           $color-error-text,
    'error-background':     $color-error-background,
    'info-text':            $color-info-text,
    'info-background':      $color-info-background
);

.design-patterns--color {
    position: relative;
    display: block;
    margin: 1em 0;
    border: 1px solid $color-border;
    height: 3em; // 39px / 13px

    &:after {
        @include adjust-font-size-to(12px, 0.9);

        position: absolute;
        top: 0.75em;
        padding: 1px 0.25em;
        font-family: $font-mono;
        background-color: $color-background; // IE 8 support.
        background-color: rgba(255, 255, 255, 0.66);
    }
}

@each $name, $color in $colors {
    .design-patterns--color-#{$name} {
        background: $color;

        &:after {
            content: "#{$color}";
        }
    }
}


/* Layout grid examples.
   ========================================================================== */

.design-patterns--box {
    margin-top: 0;
    padding: 1em;
    background: #aaaaaa;
}

/**
 * Ensure information blocks clear any preceding grid cell floats.
 */

#section-grid .information {
    clear: both;
}


/* jQuery UI styling specific to design patterns.
   ========================================================================== */

/**
 * The list of all available icons.
 */

.jquery-ui-icons {
    margin: 0;
    padding: 0;
}

.jquery-ui-icons li {
    position: relative;
    float: left;
    margin: 2px;
    padding: 4px 0;
    cursor: pointer;
    list-style: none;
}

.jquery-ui-icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

/**
 * The vertical slider example.
 */

.jquery-ui-slider-vertical span {
    float: left;
    margin: 15px;
    height: 120px;
}

/**
 * Declare a width for jQuery UI menus.
 */

.ui-menu {
    width: 150px;
}

/**
 * Absolute positioning for miscellaneous jQuery UI menus.
 */

.ui-menu:not(.jquery-ui-menu) {
    position: absolute;
    z-index: 1000;
}


/* Breakpoint indicator.
   ========================================================================== */

/**
 * Visually show which breakpoint is currently active.
 *
 * Example HTML:
 *
 * <ol class="design-patterns--breakpoints list--no-bullets clearfix">
 *     <li class="design-patterns--breakpoint-0">No breakpoint</li>
 *     <li class="design-patterns--breakpoint-1">Breakpoint 1</li>
 *     <li class="design-patterns--breakpoint-2">Breakpoint 2</li>
 *     <li class="design-patterns--breakpoint-3">Breakpoint 3</li>
 * </ol>
 */

.design-patterns--breakpoints li {
    float: left;
}

.design-patterns--breakpoint-0,
.design-patterns--breakpoint-1,
.design-patterns--breakpoint-2,
.design-patterns--breakpoint-3 {
    padding: 0.5em;
    color: $color-text-inverse;
    background-color: #ff0000;
}

.design-patterns--breakpoint-1,
.design-patterns--breakpoint-2,
.design-patterns--breakpoint-3 {
    display: none;
}

@media (min-width: $breakpoint-1) {
    .design-patterns--breakpoint-0 {
        display: none;
    }

    .design-patterns--breakpoint-1 {
        display: block;
    }
}

@media (min-width: $breakpoint-2) {
    .design-patterns--breakpoint-1 {
        display: none;
    }

    .design-patterns--breakpoint-2 {
        display: block;
    }
}

@media (min-width: $breakpoint-3) {
    .design-patterns--breakpoint-2 {
        display: none;
    }

    .design-patterns--breakpoint-3 {
        display: block;
    }
}
